---
import DarkModeButton from '@/components/DarkModeButton.astro'
import LocaleSwitcher from '@/components/LocaleSwitcher.astro'
import { defaultLocale, supportedLocales } from '@/i18n/config'
import type { TSupportedLocales } from '@/i18n/type'
import { useI18n } from '@/i18n/utils'
import Layout from '@/layouts/Layout.astro'

const lang = Astro.currentLocale || defaultLocale
const t = useI18n(lang as TSupportedLocales, 'home')

export function getStaticPaths() {
  return supportedLocales.map((localeItem) => ({ params: { locale: localeItem } }))
}
---

<Layout>
  <div class="flex h-screen flex-col items-center justify-center text-center">
    <DarkModeButton class="fixed top-[2.05rem] right-32" />
    <LocaleSwitcher />
    <div>
      <h1
        class="mr-4 inline-block border-r border-black/30 pr-6 align-top text-2xl leading-12 font-medium dark:border-white/30"
      >
        404
      </h1>
      <div class="inline-block">
        <h2 class="m-0 text-sm leading-6 font-normal">
          {t('404', 'home')}
          <a class="m-0 block text-left text-sm leading-6 font-normal text-[#6585FA] hover:text-[#6585FA]/70" href="/">
            {t('404GoBack', 'home')}
          </a>
        </h2>
      </div>
    </div>
  </div>
</Layout>
