---
import { type Time } from '@/lib/utils'

import MechanicSection from '@/components/section/MechanicSection.astro'
import P from '@/components/typography/P.astro'
import SolutionSection from '@/components/section/SolutionSection.astro'
import T from '@/components/typography/T.astro'
import EventSection from '@/components/section/EventSection.astro'
import Badge from '@/components/Badge.astro'

import BareFangsCast from '../_components/BareFangsCast.astro'
import ChampionsCircuitActivate from '../_components/ChampionsCircuitActivate.astro'
import ChampionsCircuitCast from '../_components/ChampionsCircuitCast.astro'

import { translations } from '../_translations'

interface Props {
  start: Time

  activateTimes: Time[]
}

const { start, activateTimes }: Props = Astro.props

const bareFangs = translations.bareFangs
const championsCircuit = translations.championsCircuit

// 伤害参考：
// REF: https://www.fflogs.com/reports/GrMAphvBQfqLT9KJ?fight=4&type=casts&hostility=1&phase=2&view=events
---

<BareFangsCast start={start} />
<ChampionsCircuitCast start="10:11.323" />
<ChampionsCircuitActivate activateTimes={activateTimes} />
<EventSection time="10:40.0">
  传送装置恢复正常
  <Badge variant="emerald">传送间隔-</Badge>
</EventSection>
<MechanicSection>
  <div class="flex flex-col gap-4">
    <T variant="yellow" text=`${bareFangs}` />
    <P>TODO</P>
    <T variant="yellow" text=`${championsCircuit}` class="mt-8" />
    <P>TODO</P>
  </div>
</MechanicSection>
<SolutionSection>
  <div class="flex flex-col gap-4">
    <P>TODO</P>
  </div>
</SolutionSection>
