---
import MechanicSection from '@/components/section/MechanicSection.astro'
import SolutionSection from '@/components/section/SolutionSection.astro'
import T from '@/components/typography/T.astro'
import P from '@/components/typography/P.astro'
import Span from '@/components/Span.vue'
import Skill from '@/components/typography/Skill.astro'
import ImgRow from '@/components/typography/ImgRow.astro'

import ProwlingGaleCast from '../_components/ProwlingGaleCast.astro'
import ProwlingGaleEvent from '../_components/ProwlingGaleEvent.astro'

import { translations } from '../_translations'
import BossAttackSection from '../_components/BossAttackSection.astro'

const prowlingGale = translations.prowlingGale
---

<ProwlingGaleCast start="09:10.384" />
<BossAttackSection time="09:16.349" damage="60000" damageType="physical" />
<ProwlingGaleEvent time="09:22.130" />
<MechanicSection>
  <div class="flex flex-col gap-4">
    <T variant="yellow" text={prowlingGale} />
    <P>
      场上剩余的
      <Span variant="pink">4</Span>
      个平台各生成一座双人塔
    </P>
  </div>
</MechanicSection>

<SolutionSection>
  <div class="flex flex-col gap-4">
    <P>
      处理完之前的
      <Skill name={translations.elementalPurge} />
      后，全员按如下站位踩塔：
    </P>

    <ImgRow
      wrapperClass="max-w-150"
      bordered={false}
      imgClass="shadowbringer"
      imgs={[{ src: 'imgs/07/m8s2/p2/prowling_gale.png', alt: '风狼阵' }]}
    />
  </div>
</SolutionSection>
