---
import { Image } from 'astro:assets'
import { type Time } from '@/lib/utils'

import Span from '@/components/Span.vue'
import RoleIcon from '@/components/RoleIcon.astro'
import MechanicSection from '@/components/section/MechanicSection.astro'
import SolutionSection from '@/components/section/SolutionSection.astro'
import P from '@/components/typography/P.astro'
import T from '@/components/typography/T.astro'

import ProwlingGaleCast from '../_components/ProwlingGaleCast.astro'

import img from '@/assets/07/m8s2/tmp.png'
import { translations } from '../_translations'

interface Props {
  start: Time
}

const { start }: Props = Astro.props

const prowlingGale = translations.prowlingGale
---

<ProwlingGaleCast start={start} />
<MechanicSection>
  <div class="flex flex-col gap-4">
    <T>
      <Span variant="yellow">{prowlingGale}</Span>
    </T>
    <P>
      每座平台会出现一个塔，其中南平台必定是三人塔，左下和右下必定是单人塔，左上和右上是一个双人塔一个单人塔。
      <!-- 此处不确定炸塔具体效果（概率也太低了吧） -->
    </P>
  </div>
</MechanicSection>

<SolutionSection>
  <div class="flex flex-col gap-4">
    <P> TODO </P>
  </div>
</SolutionSection>
