---
import { Image } from 'astro:assets'
import { type Time } from '@/lib/utils'

import Span from '@/components/Span.vue'
import RoleIcon from '@/components/RoleIcon.astro'
import MechanicSection from '@/components/section/MechanicSection.astro'
import SolutionSection from '@/components/section/SolutionSection.astro'

import HowlingBlade from '../_components/HowlingBlade.astro'
import QuakeIIICast from '../_components/QuakeIIICast.astro'

import img from '@/assets/07/m8s2/tmp.png'

interface Props {
  start: Time
  base?: Time
}

const { start, base = 0 }: Props = Astro.props

const prowlingGale = '風狼陣'
---

<QuakeIIICast start={start} base={base} />

<MechanicSection>
  <div class="flex flex-col gap-4">
    <div class="text-2xl">
      <Span variant="yellow">{prowlingGale}</Span>
    </div>
    <div class="gap-strat flex items-center">
      每座平台会出现一个需要两人的塔。
      <!-- 此处不确定炸塔具体效果（概率也太低了吧） -->
    </div>
  </div>
</MechanicSection>

<SolutionSection>
  <div class="flex flex-col gap-4">
    <div class="gap-strat flex items-center">
      为了方便后续机制处理，这里让
      <RoleIcon role="tank" tag="MT" />
      <RoleIcon role="dps" tag="D1" />
      去左下平台，
      <RoleIcon role="tank" tag="ST" />
      <RoleIcon role="dps" tag="D2" />
      去右下平台，
    </div>

    <div class="gap-strat flex items-center">
      <RoleIcon role="healer" tag="H1" />
      <RoleIcon role="dps" tag="D3" />
      去左上平台，
      <RoleIcon role="healer" tag="H2" />
      <RoleIcon role="dps" tag="D4" />
      去右上平台。
    </div>

    <div class="flex max-w-90 shrink grow flex-col items-center gap-2">
      <Image src={img} alt="quake1" class="border-2 border-amber-800/75 dark:border-amber-100" />
      <div>双奶分组分摊</div>
    </div>
  </div>
</SolutionSection>
