---
import { Image } from 'astro:assets'
import { type Time } from '@/lib/utils'

import Span from '@/components/Span.vue'
import RoleIcon from '@/components/RoleIcon.astro'
import MechanicSection from '@/components/section/MechanicSection.astro'
import SolutionSection from '@/components/section/SolutionSection.astro'

import HowlingBlade from '../_components/HowlingBlade.astro'
import QuakeIIICast from '../_components/QuakeIIICast.astro'

import img from '@/assets/07/m8s2/tmp.png'

interface Props {
  start: Time
  base?: Time
}

const { start, base = 0 }: Props = Astro.props

const quakeIII = 'クエイガ'
---

<QuakeIIICast start={start} base={base} />

<MechanicSection>
  <div class="flex flex-col gap-4">
    <div class="text-2xl">
      <Span variant="yellow">{quakeIII}</Span>
    </div>
    <div class="gap-strat flex items-center">
      <HowlingBlade />
      点名
      <RoleIcon role="healer" tag="双奶" />
      分摊，需要判定时四个人在在同一个平台上。
    </div>
  </div>
</MechanicSection>

<SolutionSection>
  <div class="flex flex-col gap-4">
    <div class="gap-strat flex items-center">我们将所有人分为MT组和ST组，MT组去左下平台，ST组去右下平台。</div>

    <div class="gap-strat flex items-center">注意靠近场中，方便团辅和奶。</div>

    <div class="flex max-w-90 shrink grow flex-col items-center gap-2">
      <Image src={img} alt="quake1" class="border-2 border-amber-800/75 dark:border-amber-100" />
      <div>双奶分组分摊</div>
    </div>
  </div>
</SolutionSection>
