---
import { type Time } from '@/lib/utils'

import Span from '@/components/Span.vue'
import RoleIcon from '@/components/RoleIcon.astro'
import MechanicSection from '@/components/section/MechanicSection.astro'
import SolutionSection from '@/components/section/SolutionSection.astro'

import P from '@/components/typography/P.astro'
import T from '@/components/typography/T.astro'
import Skill from '@/components/typography/Skill.astro'
import ImgRow from '@/components/typography/ImgRow.astro'

import HowlingBlade from '../_components/entities/HowlingBlade.astro'
import QuakeIIICast from '../_components/QuakeIIICast.astro'

import quake_iii from '@/assets/07/m8s2/p1/quakeIII.png'

import { translations } from '../_translations'
import BossAttackSection from '../_components/BossAttackSection.astro'

interface Props {
  start: Time
}

const { start }: Props = Astro.props

const quakeIII = translations.quakeIII
---

<QuakeIIICast start={start} />
<BossAttackSection time="07:47.871" damage="60000" damageType="physical" />
<BossAttackSection time="07:50.896" damage="60000" damageType="physical" />

<MechanicSection>
  <div class="flex flex-col gap-4">
    <T>
      <Skill name={quakeIII} />
    </T>
    <P>
      <HowlingBlade />
      读条
      <Skill name={quakeIII} />
      点名
      <RoleIcon role="healer" tag="H1" />
      和
      <RoleIcon role="healer" tag="H2" />
      ，对其所在平台释放分摊伤害，附带
      <Span variant="pink">4人</Span>
      的人数检测
    </P>
    <P>
      需要判定时
      <Span variant="pink">4人</Span>
      站在同一个平台上，不足人数时伤害超级加倍
    </P>
  </div>
</MechanicSection>

<SolutionSection>
  <div class="flex flex-col gap-4">
    <P>
      如图，所有人分为MT组和ST组，以
      <HowlingBlade />
      目标圈正面箭头的指向为南，MT组去左平台，ST组去右平台
    </P>

    <P>注意靠近场中分摊，以免吃不到对面平台的减伤和抬血</P>

    <ImgRow
      bordered={false}
      wrapperClass="max-w-110"
      imgClass="shadowbringer"
      imgs={[
        {
          src: quake_iii,
          alt: '爆震',
        },
      ]}
    />
  </div>
</SolutionSection>
