---
import { type Time } from '@/lib/utils'

import { translations } from '../_translations'

import ImgRow from '@/components/typography/ImgRow.astro'
import ListDot from '@/components/ListDot.astro'
import MechanicSection from '@/components/section/MechanicSection.astro'
import P from '@/components/typography/P.astro'
import StratLink from '@/components/StratLink.astro'
import Quote from '@/components/typography/Quote.astro'
import Span from '@/components/Span.vue'

import ImmobileSuitDebuff from '../_components/ImmobileSuitDebuff.astro'
import RiseOfTheHuntersBladeCast from '../_components/RiseOfTheHuntersBladeCast.astro'

interface Props {
  start: Time
}

const { start }: Props = Astro.props

const riseOfTheHuntersBlade = translations.riseOfTheHuntersBlade
---

<RiseOfTheHuntersBladeCast start={start} />
<MechanicSection>
  <div class="flex flex-col gap-4">
    <P>
      同
      <!-- TODO: 修复这里p2的link -->
      <StratLink variant="yellow" href="./p2#rise-of-the-howling-wind">{riseOfTheHuntersBlade}</StratLink>
    </P>
  </div>
</MechanicSection>
