---
import { Image } from 'astro:assets'
import { type Time } from '@/lib/utils'

import Span from '@/components/Span.vue'
import RoleIcon from '@/components/RoleIcon.astro'
import JobIcon from '@/components/JobIcon.astro'
import MechanicSection from '@/components/section/MechanicSection.astro'
import SolutionSection from '@/components/section/SolutionSection.astro'
import P from '@/components/typography/P.astro'
import T from '@/components/typography/T.astro'
import Quote from '@/components/typography/Quote.astro'
import ImgRow from '@/components/typography/ImgRow.astro'

import TwinbiteCast from '../_components/TwinbiteCast.astro'

import twinbiteImg from '@/assets/07/m8s2/p1/twinbite.png'
import { translations } from '../_translations'

interface Props {
  start: Time
}

const { start }: Props = Astro.props

const twinbite = translations.twinbite
---

<TwinbiteCast start={start} />

<MechanicSection>
  <div class="flex flex-col gap-4">
    <T>
      <Span variant="yellow">{twinbite}</Span>
    </T>
    <P>
      <RoleIcon role="all" tag="一仇" />
      和
      <RoleIcon role="all" tag="二仇" />
      释放死刑，范围是一个平台，重叠即死。
    </P>
  </div>
</MechanicSection>

<SolutionSection>
  <div class="flex flex-col gap-4">
    <P>
      按照之前的规则，以BOSS面前的平台为基准，
      <RoleIcon role="tank" tag="MT" />
      在左侧，
      <RoleIcon role="tank" tag="ST" />
      在右侧
    </P>
    <P>
      需要开启
      <Span variant="pink">40%</Span>的减伤处理。
    </P>
    <Quote variant="lime">
      <P>
        <JobIcon job="DRK" />或<JobIcon job="WAR" />可以开启无敌处理。
      </P>
    </Quote>

    <P> 人群在BOSS面前的平台待机。 </P>

    <ImgRow
      bordered={false}
      imgClass="max-w-110"
      imgs={[
        {
          src: twinbiteImg,
          alt: '双牙击',
        },
      ]}
    />
  </div>
</SolutionSection>
