---
import { Image } from 'astro:assets'
import { type Time } from '@/lib/utils'

import Span from '@/components/Span.vue'
import MechanicSection from '@/components/section/MechanicSection.astro'
import SolutionSection from '@/components/section/SolutionSection.astro'

import TwinbiteCast from '../_components/TwinbiteCast.astro'

import img from '@/assets/07/m8s2/tmp.png'

interface Props {
  start: Time
  base?: Time
}

const { start, base = 0 }: Props = Astro.props

const twinbite = '雙牙擊'
---

<TwinbiteCast start={start} base={base} />

<MechanicSection>
  <div class="flex flex-col gap-4">
    <div class="text-2xl">
      <Span variant="yellow">{twinbite}</Span>
    </div>
    <div class="paragraph">对T死刑，范围依旧是一个平台，重叠即死。</div>
  </div>
</MechanicSection>

<SolutionSection>
  <div class="flex flex-col gap-4">
    <div class="paragraph">按照之前的分组规律，MT去左下平台，ST去右下平台，其余人去最南边的平台待机。</div>

    <div class="flex max-w-90 shrink grow flex-col items-center gap-2">
      <Image src={img} alt="quake1" class="border-2 border-amber-800/75 dark:border-amber-100" />
      <div>双T死刑，人群在南边</div>
    </div>
  </div>
</SolutionSection>
