---
import { Image } from 'astro:assets'
import { type Time } from '@/lib/utils'

import MechanicSection from '@/components/section/MechanicSection.astro'
import P from '@/components/typography/P.astro'
import SolutionSection from '@/components/section/SolutionSection.astro'
import Span from '@/components/Span.vue'

import TwofoldTempestActivate from '../_components/TwofoldTempestActivate.astro'
import TwofoldTempestCast from '../_components/TwofoldTempestCast.astro'
import mechanic_img from '@/assets/07/m8s2/p2/twofoldTempest_mech.png'
import MagicVulnerabilityUp from '@/components/buff/MagicVulnerabilityUp.astro'
import T from '@/components/typography/T.astro'

interface Props {
  start: Time

  activateTimes: Time[]
}

const { start, activateTimes }: Props = Astro.props

// Wind Surge踩毒伤害参考
// REF: https://www.fflogs.com/reports/wgcP9KdBWDjq36fv?fight=27&type=casts&hostility=1&phase=2&view=events
---

<TwofoldTempestCast start={start} />
<TwofoldTempestActivate activateTimes={activateTimes} />
<MechanicSection>
  <div class="flex flex-col gap-4">
    <P>
      由于
      <MagicVulnerabilityUp tag="9" hover />
      的存在而每组伤害仅间隔
      <Span variant="rose">7秒</Span>
      左右，玩家需要合理分配分摊顺序
    </P>
    <P>
      <Span variant="teal">圆形分摊</Span>
      的连线是可以被其他玩家接取，伤害判定时会留下以
      <Span variant="pink">连线目标</Span>
      为中心的毒圈
    </P>
    <P>
      <Span variant="teal">圆形分摊</Span>
      的毒圈初始半径为
      <Span variant="rose">5m</Span>
      ，落地3秒后开始逐渐扩大至
      <Span variant="rose">10m</Span>
      ，略大于平台半径
    </P>
    <P>
      <Span variant="lime">直线分摊</Span>
      的攻击范围会覆盖整个平台
    </P>
    <T variant="yellow" text="范围示意" />
    <Image src={mechanic_img} alt="双牙暴风击范围" class="max-w-100 drop-shadow-sm drop-shadow-black" />
  </div>
</MechanicSection>
<SolutionSection>
  <div class="flex flex-col gap-4">
    <P> 待补充 </P>
  </div>
</SolutionSection>
