---
import Span from '@/components/Span.vue'
---

<Span variant="yellow"
  ><Span variant="violet">(</Span>4<Span variant="violet">|</Span>8<Span variant="violet" class="mr-0.5">)</Span
  >拍节奏</Span
>
