---
import Span from '@/components/Span.vue'
---

<Span variant="yellow"
  ><Span variant="violet">(</Span>2<Span variant="violet">|</Span>3<Span variant="violet">|</Span>4<Span
    variant="violet">)</Span
  >连指向、定格&播放</Span
>
