---
import AuthLayout from "@/layouts/AuthLayout.astro";
import Form from "./_components/Form";

export const prerender = false

const user = Astro.locals.user;
const session = Astro.locals.session;

if (user?.emailVerified && session) {
  return Astro.redirect("/account");
}
---

<AuthLayout>
  <main class="mt-16 w-full p-16 max-w-lg z-50">
    <Form client:only="react" />
  </main>
</AuthLayout>
