---
import LinkIcons from "@/components/LinkIcons.astro";
import LogoImage from "@/components/LogoImage.astro";
import Layout from "@/layouts/Layout.astro";
import Form from "./_components/Form";
---

<Layout>
  <div class="@container relative flex min-h-dvh min-w-sm flex-col items-center">
    <div class="bg-dots fade-b absolute inset-x-0 top-0 h-full"></div>
    <header class="h-16 bg-background/95 supports-backdrop-filter:bg-background/80 border-b flex justify-between items-center backdrop-blur fixed top-0 z-50 w-full px-4">
      <a href="/" class="group relative">
        <div class="flex items-center ml-10">
          <LogoImage />
        </div>
      </a>

      <LinkIcons class="px-0" />
    </header>

    <main class="mt-16 w-full p-16 max-w-lg z-50">
      <Form client:only="react" />
    </main>
  </div>
</Layout>
