---
import DraftWarning from '@/components/draft-warning/DraftWarning.astro'
import CastSection from '@/components/section/CastSection.astro'
import MechanicSection from '@/components/section/MechanicSection.astro'
import SeparatorSection from '@/components/section/SeparatorSection.astro'
import SolutionSection from '@/components/section/SolutionSection.astro'
import Span from '@/components/Span.vue'
import ImgRow from '@/components/typography/ImgRow.astro'
import P from '@/components/typography/P.astro'
import Skill from '@/components/typography/Skill.astro'
import T from '@/components/typography/T.astro'
import DutyStratLayout from '@/layouts/DutyStratLayout.astro'

const dutyId = '07/hellonrails'

const base = '00:00.00'
---

<DutyStratLayout dutyId={dutyId} base={base}>
  <DraftWarning showDialog={false}>
    <div
      class="my-3 flex flex-col gap-4 text-2xl text-cyan-600 [text-shadow:0_0_1px_var(--color-cyan-600)] dark:text-cyan-400"
    >
      <P class="justify-center">
        本页内容尚在编辑中，不保证打法优化，<Span variant="red">请谨慎参考本页内容！</Span>
      </P>
      <P class="justify-center">
        网站内容为打法验证可用后不定时更新，
        <a
          href="https://docs.qq.com/doc/DUHBrWHBjZ05UZ3Nn"
          target="_blank"
          rel="noopener noreferrer"
          class="text-yellow-600 [text-shadow:0_0_1px_yellow] hover:text-yellow-500 dark:text-yellow-400 dark:hover:text-yellow-300 underline"
        >
          文档
        </a>
        内容则为即时更新
      </P>
      <P class="justify-center">
        文档传送门：
        <a
          href="https://docs.qq.com/doc/DUHBrWHBjZ05UZ3Nn"
          target="_blank"
          rel="noopener noreferrer"
          class="text-yellow-600 [text-shadow:0_0_1px_yellow] hover:text-yellow-500 dark:text-yellow-400 dark:hover:text-yellow-300 underline"
        >
          腾讯文档
        </a>
      </P>
    </div>
  </DraftWarning>
  
  
  <SeparatorSection />
  <CastSection start="00:09.000" duration={3.7} ability="超增压" />
  <CastSection start="00:15.020" duration={5.7} ability="超增压急行" />
  <CastSection start="00:22.054" duration={0.7} ability="等离子射线" source="雷光环×4" sourceRole="enemy" />
    <MechanicSection>
    <div class="space-y-8">
      <div class="space-y-4" id="超增压">
        <T><Skill name="超增压" /></T>
        <ImgRow
          wrapperClass="max-w-100"
          imgs={[
            {
              src: 'imgs/07/hellonrails/1.png',
              title: '情形1：4球',
            },
            {
              src: 'imgs/07/hellonrails/2.png',
              title: '情形2：8球',
            },
          ]}
        />
        <P>BOSS读条时，前方浮现4/8个蓝色雷球，分别代表存储44分摊/8人分散，之后会延时释放，大致按下图站位处理即可：</P>
        <ImgRow
          wrapperClass="max-w-60"
          imgs={[
            {
              src: 'imgs/07/hellonrails/plan/1.png',
              title: '情形1：4球',
            },
            {
              src: 'imgs/07/hellonrails/plan/2.png',
              title: '情形2：8球',
            },
          ]}
        />
        <P>紫色区域表示被围栏挡住的区域，无法站入其中</P>
      </div>
      <div class="space-y-4" id="超增压急行">
        <T><Skill name="超增压急行" /></T>
        <ImgRow
          wrapperClass="max-w-150"
          imgs={[
            {
              src: 'imgs/07/hellonrails/3.png',
            }
          ]}
        />
        <P>直线击退，可以被场地上的护栏（上图红圈）挡住，防击退有效</P>
      </div>
      <div class="space-y-4" id="等离子射线">
        <T><Skill name="等离子射线" /></T>
        <ImgRow
          wrapperClass="max-w-150"
          imgs={[
            {
              src: 'imgs/07/hellonrails/4.png',
            },
            {
              src: 'imgs/07/hellonrails/5.png',
            },
          ]}
        />
        <P>BOSS前方浮现4个魔法阵，会释放直线攻击，有高度差分，分别攻击地面和空中</P>
      </div>
    </div>
  </MechanicSection>


  <SeparatorSection />
  <CastSection start="00:28.025" duration={3.7} ability="超增压" />
  <CastSection start="00:34.042" duration={5.7} ability="超增压抽雾" />
  <!-- <CastSection start="00:34.042" duration={6.7} ability="超增压抽雾" /> -->
  <!-- <CastSection start="00:40.107" duration={2.7} ability="超增压排雾" /> -->
   <MechanicSection>
    <div class="space-y-8">
      <div class="space-y-4" id="超增压抽雾">
        <T><Skill name="超增压抽雾" /></T>
        <P>TODO</P>
      </div>
    </div>
  </MechanicSection>


  <SeparatorSection />
  <CastSection start="00:47.111" duration={4.7} ability="无控急行" />
  <!-- <CastSection start="00:47.111" duration={5.6} ability="无控急行" /> -->
  <MechanicSection>
    <div class="space-y-8">
      <div class="space-y-4" id="无控急行">
        <T><Skill name="无控急行" /></T>
        <P>TODO</P>
      </div>
    </div>
  </MechanicSection>

  
  <SeparatorSection />
  <CastSection start="01:01.145" duration={3.7} ability="超增压" />
  <CastSection start="01:07.157" duration={2.7} ability="炮塔出击" />
  <CastSection start="01:12.369" duration={6.7} ability="雷转质射线" source="护卫炮塔×6" sourceRole="enemy" />
  <MechanicSection>
    <div class="space-y-8">
      <div class="space-y-4" id="炮塔出击">
        <T><Skill name="炮塔出击" /></T>
        <P>TODO</P>
      </div>
      <div class="space-y-4" id="雷转质射线">
        <T><Skill name="雷转质射线" /></T>
        <P>TODO</P>
      </div>
    </div>
  </MechanicSection>
  <CastSection start="01:14.199" duration={5.7} ability="超增压抽雾" />
  <!-- <CastSection start="01:14.199" duration={6.7} ability="超增压抽雾" /> -->
  <!-- <CastSection start="01:20.259" duration={2.7} ability="超增压排雾" /> -->


  <SeparatorSection />
  <CastSection start="01:27.255" duration={3.7} ability="超增压" />
  <CastSection start="01:28.940" duration={6.7} ability="雷转质射线" source="护卫炮塔×6" sourceRole="enemy" />
  <CastSection start="01:33.266" duration={4.7} ability="雷电爆发" />
  <!-- <CastSection start="01:38.347" duration={0.2} ability="雷电爆发" />
  <CastSection start="01:38.347" duration={0.2} ability="雷电爆发" /> -->
  <MechanicSection>
    <div class="space-y-8">
      <div class="space-y-4" id="雷电爆发">
        <T><Skill name="雷电爆发" /></T>
        <P>TODO</P>
      </div>
    </div>
  </MechanicSection>
  <CastSection start="01:40.528" duration={6.7} ability="雷转质射线" source="护卫炮塔×6" sourceRole="enemy" />
  <CastSection start="01:42.401" duration={5.7} ability="超增压急行" />
  <CastSection start="01:49.425" duration={0.7} ability="等离子射线" source="雷光环×4" sourceRole="enemy" />


  <SeparatorSection />
  <CastSection start="01:55.540" duration={4.7} ability="无控急行" />
  <!-- <CastSection start="01:55.540" duration={5.6} ability="无控急行" /> -->
  <CastSection start="02:11.577" duration={4.7} ability="雷电爆发" />
  <!-- <CastSection start="02:16.660" duration={0.2} ability="雷电爆发" />
  <CastSection start="02:16.660" duration={0.2} ability="雷电爆发" /> -->
  <CastSection start="02:24.817" duration={4.7} ability="无尽狂奔" />
  <MechanicSection>
    <div class="space-y-8">
      <div class="space-y-4" id="无尽狂奔">
        <T><Skill name="无尽狂奔" /></T>
        <P>TODO</P>
      </div>
    </div>
  </MechanicSection>

</DutyStratLayout>
