---
import Boss from '@/components/Boss.astro'
import Span from '@/components/Span.vue'
import CastSection from '@/components/section/CastSection.astro'
import EventSection from '@/components/section/EventSection.astro'
import MechanicSection from '@/components/section/MechanicSection.astro'
import NoteSection from '@/components/section/NoteSection.astro'
import SeparatorSection from '@/components/section/SeparatorSection.astro'
import SolutionSection from '@/components/section/SolutionSection.astro'
import ImgRow from '@/components/typography/ImgRow.astro'
import P from '@/components/typography/P.astro'
import Skill from '@/components/typography/Skill.astro'
import T from '@/components/typography/T.astro'
import DutyStratLayout from '@/layouts/DutyStratLayout.astro'

const dutyId = '07/hellonrails'

const base = '00:00.00'
---

<DutyStratLayout dutyId={dutyId} base={base}>
  <SeparatorSection />
  <NoteSection>
    <div class="space-y-8">
      <div class="space-y-4 text-2xl">
        <P>由于每个队伍通过P2的时间不同，从P3开始，以P2结束的转场AoE【无尽狂奔】伤害判定为新的时间起点</P>
      </div>
    </div>
  </NoteSection>

  
  <SeparatorSection />
  <EventSection time="00:00.00">
    <Skill name="无尽狂奔" />伤害判定
  </EventSection>
  <MechanicSection>
    <div class="space-y-8">
      <div class="space-y-4" id="无尽狂奔">
        <T><Skill name="无尽狂奔" /></T>
        <P>转场AoE，与P1不同，这次是有伤害的</P>
      </div>
    </div>
  </MechanicSection>


  <SeparatorSection />
  <EventSection time="00:18.298">
    <Skill name="冲击波" />伤害判定
  </EventSection>
  <MechanicSection>
    <div class="space-y-8">
      <div class="space-y-4" id="冲击波">
        <T><Skill name="冲击波" /></T>
        <P>无读条AoE</P>
      </div>
    </div>
  </MechanicSection>
  
  
  <SeparatorSection />
  <CastSection start="00:23.304" duration={4.7} ability="雷电爆发" />
  <!-- <CastSection start="00:28.402" duration={0.2} ability="雷电爆发" />
  <CastSection start="00:28.402" duration={0.2} ability="雷电爆发" /> -->


  <SeparatorSection />
  <CastSection start="00:30.444" duration={5.7} ability="脱轨捶打" />
  <!-- <CastSection start="00:30.444" duration={9.7} ability="脱轨捶打" />
  <CastSection start="00:39.459" duration={0.2} ability="脱轨捶打" /> -->
  <CastSection start="00:40.582" duration={4.8} ability="脱轨" />
  <!-- <CastSection start="00:40.582" duration={4.7} ability="脱轨" /> -->
  <MechanicSection id="脱轨捶打|脱轨|1">
    <div class="space-y-8">
      <div class="space-y-4">
        <T><Skill name="脱轨捶打" /></T>
        <P>平台最前方的连续分摊踩塔，本轮判定3次伤害</P>
      </div>
      <div class="space-y-4">
        <T><Skill name="脱轨" /></T>
        <P>摧毁平台，踩完塔后需要立刻跑到平台末尾，踩传送区域转移到后一节平台</P>
      </div>
    </div>
  </MechanicSection>


  <SeparatorSection />
  <NoteSection>
    <div class="space-y-8">
      <div class="space-y-4">
        <P>新平台场地如下图，紫色区域表示护栏围住的区域，不可进入，黑色区域表示高台，蓝色圆圈表示传送装置，可以传到高台上</P>
        <ImgRow
          wrapperClass="max-w-60"
          imgs={[
            {
              src: 'imgs/07/hellonrails/plan/p3/1.png',
            },
          ]}
        />
      </div>
    </div>
  </NoteSection>


  <SeparatorSection />
  <EventSection time="00:57.804">
    <Skill name="雷光一闪" />位置判定
  </EventSection>
  <MechanicSection>
    <div class="space-y-8">
      <div class="space-y-4" id="雷光一闪">
        <T><Skill name="雷光一闪" /></T>
        <ImgRow
          wrapperClass="max-w-200"
          imgs={[
            {
              src: 'imgs/07/hellonrails/11.png',
            },
          ]}
        />
        <P>BOSS举起双手打个响指，有发光特效，此时判定全员位置</P>
        <P>类似【究极神兵绝境战】的【飞翎羽】，或【M6S】的【糖糖闪雷】，判定位置【3s】后，对这些位置处造成圆形AoE伤害，带易伤</P>
        <P>在位置判定后离开原位即可</P>
      </div>
    </div>
  </MechanicSection>


  <SeparatorSection />
  <EventSection time="01:03.826">
    <Boss />准备释放
    <Skill name={["雷鸣吐息", "前照光"]}><Span slot="separator">/</Span></Skill>
  </EventSection>
  <MechanicSection>
    <div class="space-y-8">
      <div class="space-y-4" id="雷鸣吐息|前照光">
        <T><Skill name={["雷鸣吐息", "前照光"]}><Span slot="separator">/</Span></Skill></T>
        <ImgRow
          wrapperClass="max-w-200"
          imgs={[
            {
              src: 'imgs/07/hellonrails/12.png',
            },
          ]}
        />
        <P>观察BOSS身上特效的出现顺序，蓝色闪电代表攻击低层，红光代表攻击高层，攻击顺序与特效出现顺序一致</P>
        <P>根据顺序决定先去高台上躲还是先留在地面躲</P>
      </div>
    </div>
  </MechanicSection>


  <SeparatorSection />
  <CastSection start="01:16.862" duration={1.7} ability="魔法阵展开" />
  <MechanicSection>
    <div class="space-y-8">
      <div class="space-y-4" id="魔法阵展开">
        <T><Skill name="魔法阵展开" /></T>
        <ImgRow
          wrapperClass="max-w-200"
          imgs={[
            {
              src: 'imgs/07/hellonrails/13.png',
            },
          ]}
        />
        <P>读条后，BOSS会累计使用3轮（P5时为2轮）魔法阵</P>
        <P>地上会出现一个沿着菱形场地线移动的法阵（大范围圆形AoE），法阵会顺/逆时针转移2~4次，BOSS双手合拢时法阵即判定，移动次数取决于BOSS双手合拢的速度，合拢快就移动2次，慢点就3次，最慢时4次</P>
        <P>同时，机制开始时，BOSS会指定 1T 1H 一个【选定目标：重雷】的 debuff，每次地面法阵判定的同时，以这俩人为中心，释放可分摊的大范围圆形AoE，附带魔法受伤加重，不能重叠</P>
      </div>
    </div>
  </MechanicSection>
  <SolutionSection>
    <div class="space-y-8">
      <div class="space-y-4">
        <P>我们始终按下图固定站位，双T左上角不动，其它人右上角不动</P>
        <ImgRow
          wrapperClass="max-w-100"
          imgs={[
            {
              src: 'imgs/07/hellonrails/plan/p3/2.png',
            },
          ]}
        />
        <P>由于该机制总共有2~3轮（P3是3轮，P5是2轮），不太可能出现同一个角落被地面法阵炸3次的情况，因此我们固定站位硬吃地面法阵的伤害即可</P>
        <P>双T适当开启减伤，当地面AoE覆盖右上角（人群）时，开启TLB，无TLB时叠群减即可，由于人群不太可能被地面法阵炸3次，因此一次用TLB覆盖，一次用群减覆盖刚好</P>
      </div>
    </div>
  </SolutionSection>


  <SeparatorSection />
  <EventSection time="02:04.319">
    <Boss />准备释放
    <Skill name={["雷鸣吐息", "前照光"]}><Span slot="separator">/</Span></Skill>
  </EventSection>
  <EventSection time="02:17.301">
    <Skill name="雷光一闪" />位置判定
  </EventSection>
  <CastSection start="02:23.328" duration={4.7} ability="雷电爆发" />
  <!-- <CastSection start="02:28.407" duration={0.2} ability="雷电爆发" />
  <CastSection start="02:28.407" duration={0.2} ability="雷电爆发" /> -->


  <SeparatorSection />
  <CastSection start="02:32.497" duration={5.7} ability="脱轨捶打" />
  <!-- <CastSection start="02:32.497" duration={10.7} ability="脱轨捶打" />
  <CastSection start="02:42.495" duration={0.2} ability="脱轨捶打" /> -->
  <CastSection start="02:44.763" duration={4.8} ability="脱轨" />
  <!-- <CastSection start="02:44.763" duration={4.7} ability="脱轨" /> -->
  <MechanicSection id="脱轨捶打|脱轨|2">
    <div class="space-y-8">
      <div class="space-y-4">
        <P>本轮分摊塔会判定4次伤害，可以任一T无敌单吃，分摊完立刻跑到平台末尾，踩传送区域转移到后一节平台</P>
      </div>
    </div>
  </MechanicSection>
</DutyStratLayout>
