---
import DraftWarning from '@/components/draft-warning/DraftWarning.astro'
import CastSection from '@/components/section/CastSection.astro'
import MechanicSection from '@/components/section/MechanicSection.astro'
import SeparatorSection from '@/components/section/SeparatorSection.astro'
import SolutionSection from '@/components/section/SolutionSection.astro'
import Span from '@/components/Span.vue'
import P from '@/components/typography/P.astro'
import Skill from '@/components/typography/Skill.astro'
import T from '@/components/typography/T.astro'
import DutyStratLayout from '@/layouts/DutyStratLayout.astro'

const dutyId = '07/hellonrails'

const base = '06:32.688'
---

<DutyStratLayout dutyId={dutyId} base={base}>
  <DraftWarning showDialog={false}>
    <div
      class="my-3 flex flex-col gap-4 text-2xl text-cyan-600 [text-shadow:0_0_1px_var(--color-cyan-600)] dark:text-cyan-400"
    >
      <P class="justify-center">
        本页内容尚在编辑中，不保证打法优化，<Span variant="red">请谨慎参考本页内容！</Span>
      </P>
      <P class="justify-center">
        网站内容为打法验证可用后不定时更新，
        <a
          href="https://docs.qq.com/doc/DUHBrWHBjZ05UZ3Nn"
          target="_blank"
          rel="noopener noreferrer"
          class="text-yellow-600 [text-shadow:0_0_1px_yellow] hover:text-yellow-500 dark:text-yellow-400 dark:hover:text-yellow-300 underline"
        >
          文档
        </a>
        内容则为即时更新
      </P>
      <P class="justify-center">
        文档传送门：
        <a
          href="https://docs.qq.com/doc/DUHBrWHBjZ05UZ3Nn"
          target="_blank"
          rel="noopener noreferrer"
          class="text-yellow-600 [text-shadow:0_0_1px_yellow] hover:text-yellow-500 dark:text-yellow-400 dark:hover:text-yellow-300 underline"
        >
          腾讯文档
        </a>
      </P>
    </div>
  </DraftWarning>
  <SeparatorSection />

  <CastSection start="06:41.688" duration={6.7} ability="念动反应" />
  <CastSection start="06:44.718" duration={4.7} ability="掉落" />
  <CastSection start="06:51.681" duration={2.7} ability="雷光一闪" />
  <CastSection start="06:56.772" duration={6.7} ability="念动反应" />
  <CastSection start="06:59.815" duration={4.7} ability="掉落" />
  <CastSection start="07:05.799" duration={4.7} ability="雷电爆发" />
  <!-- <CastSection start="07:10.864" duration={0.2} ability="雷电爆发" />
  <CastSection start="07:10.864" duration={0.2} ability="雷电爆发" /> -->
  <CastSection start="07:12.925" duration={6.7} ability="念动反应" />
  <CastSection start="07:15.953" duration={4.7} ability="掉落" />
  <CastSection start="07:22.925" duration={2.7} ability="雷光一闪" />
  <CastSection start="07:31.029" duration={5.7} ability="脱轨捶打" />
  <!-- <CastSection start="07:31.029" duration={11.7} ability="脱轨捶打" />
  <CastSection start="07:41.918" duration={0.2} ability="脱轨捶打" /> -->
  <CastSection start="07:43.653" duration={4.8} ability="脱轨" />
  <!-- <CastSection start="07:43.653" duration={4.7} ability="脱轨" /> -->
  <CastSection start="07:58.899" duration={3.7} ability="超增压" />
  <CastSection start="08:04.921" duration={2.7} ability="炮塔出击" />
  <CastSection start="08:10.149" duration={6.7} ability="雷转质射线" source="护卫炮塔×6" sourceRole="enemy" />
  <CastSection start="08:13.986" duration={5.7} ability="雷鸣吐息" />
  <CastSection start="08:26.173" duration={6.7} ability="雷转质射线" source="护卫炮塔×6" sourceRole="enemy" />
  <CastSection start="08:29.026" duration={6.7} ability="念动反应" />
  <CastSection start="08:32.063" duration={4.7} ability="掉落" />
  <CastSection start="08:39.027" duration={2.7} ability="雷光一闪" />
  <CastSection start="08:43.219" duration={6.7} ability="雷转质射线" source="护卫炮塔×6" sourceRole="enemy" />
  <CastSection start="08:46.111" duration={5.7} ability="超增压急行" />
  <CastSection start="08:53.151" duration={0.7} ability="等离子射线" source="雷光环×4" sourceRole="enemy" />
  <CastSection start="08:59.130" duration={4.7} ability="雷电爆发" />
  <!-- <CastSection start="09:04.226" duration={0.2} ability="雷电爆发" />
  <CastSection start="09:04.226" duration={0.2} ability="雷电爆发" /> -->
  <CastSection start="09:08.177" duration={3.7} ability="超增压" />
  <CastSection start="09:14.203" duration={1.7} ability="魔法阵展开" />
  <CastSection start="09:25.179" duration={2.4} ability="雷光雨" />
  <CastSection start="09:39.222" duration={2.4} ability="雷光雨" />
  <CastSection start="09:45.557" duration={2.7} ability="雷光一闪" />
  <CastSection start="09:52.371" duration={5.7} ability="超增压抽雾" />
  <!-- <CastSection start="09:52.371" duration={6.7} ability="超增压抽雾" /> -->
  <!-- <CastSection start="09:58.422" duration={2.7} ability="超增压排雾" /> -->
  <CastSection start="10:05.319" duration={5.7} ability="前照光" />
  <CastSection start="10:18.345" duration={4.7} ability="雷电爆发" />
  <!-- <CastSection start="10:23.427" duration={0.2} ability="雷电爆发" />
  <CastSection start="10:23.427" duration={0.2} ability="雷电爆发" /> -->
  <CastSection start="10:26.471" duration={2.7} ability="雷光一闪" />
  <CastSection start="10:33.405" duration={5.7} ability="脱轨捶打" />
  <!-- <CastSection start="10:33.405" duration={12.7} ability="脱轨捶打" />
  <CastSection start="10:45.397" duration={0.2} ability="脱轨捶打" /> -->
  <CastSection start="10:46.516" duration={14.8} ability="脱轨" />
  <!-- <CastSection start="10:46.516" duration={14.7} ability="脱轨" /> -->

</DutyStratLayout>
