---
import CollapsibleBox from '@/components/CollapsibleBox.vue'
import DutyHomeLayout from '@/layouts/DutyHomeLayout.astro'

import ScannerSVG from '@/assets/svg/scanner.svg'

const dutyId = '07/m5s'
const navList = [
  { label: '场地标点', id: 'waymark' },
  { label: '宏', id: 'macro' },
  { label: '简易时间轴', id: 'timeline' },
  { label: '参考资料', id: 'reference' },
  { label: '鸣谢', id: 'thanks' },
]
---

<DutyHomeLayout dutyId={dutyId} navList={navList}>
  <Fragment slot="operation">
    <button
      class="flex w-max min-w-33 cursor-pointer items-center justify-between rounded-lg border border-purple-400 bg-purple-500 p-2 px-4 align-middle text-white hover:bg-purple-700/60 dark:border-purple-500 dark:bg-purple-700/75"
    >
      <ScannerSVG />
      小抄速览
    </button>
    <a href="/07/m5s/p1">
      <button
        class="flex w-max cursor-pointer items-center justify-between rounded-lg border border-purple-400 bg-purple-500 p-2 px-4 align-middle text-white hover:bg-purple-700/60 dark:border-purple-500 dark:bg-purple-700/75"
      >
        查看详情
      </button>
    </a>
  </Fragment>
  <CollapsibleBox client:only="vue" class="w-full">
    content<br />content<br />content<br />content<br />content<br />content<br />content<br />content<br />content<br
    />content<br />content<br />content<br />content<br />
    <Fragment slot="header">
      <span id="waymark">场地标点</span>
    </Fragment>
  </CollapsibleBox>
  <CollapsibleBox client:only="vue" class="w-full">
    content<br />content<br />content<br />content<br />content<br />content<br />content<br />content<br />content<br
    />content<br />content<br />content<br />content<br />content<br />
    <Fragment slot="header">
      <span id="macro">宏</span>
    </Fragment>
  </CollapsibleBox>
  <CollapsibleBox client:only="vue" class="w-full">
    content<br />content<br />content<br />content<br />content<br />content<br />content<br />content<br />content<br
    />content<br />content<br />content<br />content<br />content<br />content<br />content<br />content<br />content<br
    />content<br />content<br />content<br />content<br />content<br />
    <Fragment slot="header">
      <span id="timeline">简易时间轴</span>
    </Fragment>
  </CollapsibleBox>
  <CollapsibleBox client:only="vue" class="w-full">
    content
    <Fragment slot="header">
      <span id="reference">参考资料</span>
    </Fragment>
  </CollapsibleBox>
  <CollapsibleBox client:only="vue" class="w-full">
    content
    <Fragment slot="header">
      <span id="thanks">鸣谢</span>
    </Fragment>
  </CollapsibleBox>
</DutyHomeLayout>
