---
import Span from '@/components/Span.vue'

import Wolf from './Wolf.astro'

interface Props {
  order?: number
}

const { order = 0 }: Props = Astro.props
---

<Wolf type="wind" order={order}>
  <slot>
    <Span variant="green">风狼首</Span>
    {
      order !== 0 && (
        <Span variant="green" class="-ml-1">
          #{order}
        </Span>
      )
    }
  </slot>
</Wolf>
