---
import type { Time } from '@/lib/utils'

import Badge from '@/components/Badge.astro'
import DamageInfo from '@/components/DamageInfo.astro'
import Span from '@/components/Span.vue'
import EventSection from '@/components/section/EventSection.astro'

interface Props {
  time: Time
  base?: Time
}

const { time, base = 0 }: Props = Astro.props
---

<EventSection time={time} base={base}>
  单人塔伤害判定
  <Span variant="yellow">Explosion</Span>
  <DamageInfo damage="30000" type="magical" />
  <Badge variant="yellow">踩塔</Badge>
</EventSection>
