---
import type { Time } from '@/lib/utils'

import Badge from '@/components/Badge.astro'
import Span from '@/components/Span.vue'
import CastSection from '@/components/section/CastSection.astro'

import RoleIcon from '@/components/RoleIcon.astro'

interface Props {
  start: Time
  base?: Time
}

const { start, base = 0 }: Props = Astro.props
---

<CastSection start={start} base={base} duration={1.7} ability="Highlightning">
  <Fragment slot="source">
    <RoleIcon role="enemy_level1">
      <Span variant="rose">雷云</Span>
    </RoleIcon>
  </Fragment>
  <Badge variant="emerald">21m圆形</Badge>
  <Badge variant="red">即死</Badge>
</CastSection>
