---
import FireResistanceUp from '@/components/buff/FireResistanceUp.astro'
import LightningResistanceDownII from '@/components/buff/LightningResistanceDownII.astro'
import CosImage from '@/components/CosImage.astro'
import Span from '@/components/Span.vue'
import MechanicSection from '@/components/section/MechanicSection.astro'
import { timeToSeconds } from '@/lib/utils'
import SugarRiot from '../_components/SugarRiot.astro'
import AttackSection from '../_components/SugarRiotAttackSection.astro'
import SugarscapeCast from '../_components/SugarscapeCast.astro'

import { translations } from '../_translations'

const start = '07:08.579'
const duration = 7.7
const adjustedDuration = duration + 0.3
const end = timeToSeconds(start) + adjustedDuration

const Sugarscape = translations.Sugarscape
---

<SugarscapeCast start={start} end={end}>，场地变换为绿地 + 溪流 + 桥</SugarscapeCast>
<MechanicSection>
  <div class="flex flex-col gap-4">
    <h4 class="text-2xl">
      <Span variant="yellow">{Sugarscape}</Span>
    </h4>
    <div class="paragraph">
      <SugarRiot />
      连线场外北侧画卷，绘制如下图案
    </div>
    <CosImage src="07/m6s/paint/4.webp" alt="Sugarscape Paint P4" class="w-96 border-2 border-fuchsia-400 dark:border-fuchsia-100" />
    <div class="paragraph mt-8">
      <SugarRiot />
      读条结束后，画卷具现化，场地变换为绿地 + 溪流 + 桥，如下图
    </div>
    <CosImage src="07/m6s/floor_p4_1.webp" alt="P4 Floor：1" class="w-96 border-2 border-fuchsia-400 dark:border-fuchsia-100" />
    <div class="paragraph">该场地为少有的高低差地形，绿地可连接溪流和桥，在溪流中无法直接走到桥上（但可以跳上去）</div>
    <div class="paragraph">
      站在溪流中会被赋予
      <LightningResistanceDownII hover />
      和
      <FireResistanceUp hover />
    </div>
  </div>
</MechanicSection>
<AttackSection time="07:17.626" damage="57000" damageType="magical" />
<AttackSection time="07:20.658" damage="57000" damageType="magical" />
