---
import Badge from '@/components/Badge.astro'
import DamageInfo from '@/components/DamageInfo.astro'
import RoleIcon from '@/components/RoleIcon.astro'
import Span from '@/components/Span.vue'
import EventSection from '@/components/section/EventSection.astro'
import type { Time } from '@/lib/utils'
import { translations } from '../_translations'
import SugarRiot from './SugarRiot.astro'

interface Props {
  time: Time
}

const { time }: Props = Astro.props
const LightningStorm = translations.LightningStorm
---

<EventSection time={time}>
  <SugarRiot />
  对随机不重复
  <Span variant="default">1</Span>
  <RoleIcon role="tank" />
  <RoleIcon role="healer" />
  <Span variant="default">+</Span>
  <Span variant="default">1</Span>
  <RoleIcon role="dps" />
  发动
  <Span variant="yellow">{LightningStorm}</Span>
  <DamageInfo damage="150000" type="magical" />
  <Badge variant="emerald">8m圆形</Badge>
  <Badge variant="yellow">区域导雷</Badge>
</EventSection>
