---
import Span from '@/components/Span.vue'
---

<Span
  variant="default"
  class="bg-linear-to-r from-transparent from-5% via-red-300 via-50% to-transparent to-95% px-20 text-center text-lg font-medium text-amber-950 dark:via-red-900 dark:text-amber-100"
>
  <slot />
</Span>
