---
import DamageDown from '@/components/buff/DamageDown.astro'
import DamageInfo from '@/components/DamageInfo.astro'
import Span from '@/components/Span.vue'
---

<DamageInfo damage="160000" type="magical" />
<DamageDown tag="30" hover />
<Span variant="rose" class="text-decimal">50%↓</Span>
