---
import EntityIcon from '@/components/EntityIcon.astro'
import EntityText from '@/components/EntityText.astro'
import Span from '@/components/Span.vue'

import gleaming_fang from '@/assets/07/m8s1/entity_icons/gleaming_fang.png'
---

<EntityIcon icon={gleaming_fang} alt="Gleaming Fang Icon" iconClass="scale-120 drop-shadow-xs drop-shadow-black">
  <Span variant="rose" class="ml-1">光牙</Span>
</EntityIcon>
<EntityText>光牙</EntityText>
