---
import type { Time } from '@/lib/utils'

import Badge from '@/components/Badge.astro'
import CastSection from '@/components/section/CastSection.astro'
import RoleIcon from '@/components/RoleIcon.astro'
import DamageInfo from '@/components/DamageInfo.astro'
import MagicVulnerabilityUp from '@/components/buff/MagicVulnerabilityUp.astro'
import Separator from '@/components/Separator.astro'
import Skill from '@/components/typography/Skill.astro'

import WolfOfWind from '../_components/entities/WolfOfWind.astro'
import WolfOfStone from '../_components/entities/WolfOfStone.astro'

import { translations } from '../_translations'

interface Props {
  start: Time
  base?: Time
}

const ability = translations.packPredation
const alphaWind = translations.alphaWind // 风狼头对T死刑
const alphaStone = translations.alphaStone // 土狼头对T死刑
const stalkingWind = translations.stalkingWind // 风狼头对人群直线
const stalkingStone = translations.stalkingStone // 土狼头对人群直线

const duration = 4.7

const { start, base = 0 }: Props = Astro.props
---

<CastSection start={start} base={base} duration={duration} ability={ability}>
  <WolfOfWind slot="source" />
  <WolfOfStone slot="source" />
  <Separator orientation="vertical" class="mx-1 h-16 w-0.5 bg-teal-500" />
  <ul class="list-none space-y-4">
    <li class="flex items-center gap-1 text-lg">
      对
      <RoleIcon role="tank" />
      造成
      <Skill name={[alphaWind, alphaStone]} />
      <DamageInfo damage="270000" type="magical" />
      <MagicVulnerabilityUp tag="1" hover />
      <Badge variant="emerald">扇形</Badge>
      <Badge variant="red">死刑</Badge>
    </li>
    <li class="flex items-center gap-1 text-lg">
      对
      <RoleIcon role="healer|dps" />
      造成
      <Skill name={[stalkingWind, stalkingStone]} />
      <DamageInfo damage="170000" type="magical" />
      <MagicVulnerabilityUp tag="1" hover />
      <Badge variant="purple">直线</Badge>
    </li>
  </ul>
</CastSection>
