---
import Badge from '@/components/Badge.astro'
import Span from '@/components/Span.vue'
import CastSection from '@/components/section/CastSection.astro'
import type { Time } from '@/lib/utils'
import { translations } from '../_translations'
import WolfOfWind from './entities/WolfOfWind.astro'

interface Props {
  start: Time
}

const { start }: Props = Astro.props
---

<CastSection start={start} duration={2.2} ability={translations.roaringWind}>
  <WolfOfWind slot="source">
    <Span variant="green" class="-ml-0.5">风狼首×5</Span>
  </WolfOfWind>
  <Badge variant="emerald">8m宽直线</Badge>
</CastSection>
