---
import MechanicSection from '@/components/section/MechanicSection.astro'
import ImgRow from '@/components/typography/ImgRow.astro'
import P from '@/components/typography/P.astro'
import Skill from '@/components/typography/Skill.astro'
import T from '@/components/typography/T.astro'
import type { Time } from '@/lib/utils'
import ColdGripCast from '../_components/ColdGripCast.astro'
import { translations } from '../_translations'

interface Props {
  start: Time
}

const { start }: Props = Astro.props
---

<ColdGripCast start={start} />

<MechanicSection>
  <!-- ColdGrip -->
  <div class="flex flex-col gap-4" id="cold-grip">
    <T>
      <Skill name={translations.ColdGrip} />
    </T>
    <P>辣翅 + 2/3 半场刀（暗紫色特效一侧）</P>
      <ImgRow
        borderVariant="cyan"
        wrapperClass="max-w-160"
        imgs={[
          {
            src: 'imgs/07/necron/ColdGrip_1.png',
            alt: '',
            title: '注意观察BOSS，有一侧的手会有暗紫色特效，上图为左侧',
          },
        ]}
      />
      <ImgRow
        borderVariant="cyan"
        wrapperClass="max-w-160"
        imgs={[
          {
            src: 'imgs/07/necron/ColdGrip_2.png',
            alt: '',
            title: '先在中间躲辣翅',
          },
        ]}
      />
      <ImgRow
        borderVariant="cyan"
        wrapperClass="max-w-160"
        imgs={[
          {
            src: 'imgs/07/necron/ColdGrip_3.png',
            alt: '',
            title: '然后去右侧躲 2/3 半场刀',
          },
        ]}
      />
  </div>
</MechanicSection>
