---
import MechanicSection from '@/components/section/MechanicSection.astro'
import ImgRow from '@/components/typography/ImgRow.astro'
import P from '@/components/typography/P.astro'
import Skill from '@/components/typography/Skill.astro'
import T from '@/components/typography/T.astro'
import type { Time } from '@/lib/utils'
import SoulReapingCast from '../_components/SoulReapingCast.astro'
import { translations } from '../_translations'

interface Props {
  start: Time
}

const { start }: Props = Astro.props
---

<SoulReapingCast start={start} />

<MechanicSection>
  <!-- SoulReaping -->
  <div class="flex flex-col gap-4" id="soul-reaping">
    <T>
      <Skill name={translations.SoulReaping} />
    </T>
    <P>按照技能特效存储相应的技能，稍后释放</P>
    <ImgRow
      borderVariant="cyan"
      wrapperClass="max-w-160"
      imgs={[
        {
          src: '07/necron/SoulReaping_1.webp',
          alt: '',
          title: '情形1：辣翅（中间安全）',
        },
      ]}
    />
    <ImgRow
      borderVariant="cyan"
      wrapperClass="max-w-160"
      imgs={[
        {
          src: '07/necron/SoulReaping_2.webp',
          alt: '',
          title: '情形2：辣尾（两侧安全）',
        },
      ]}
    />
    <ImgRow
      borderVariant="cyan"
      wrapperClass="max-w-160"
      imgs={[
        {
          src: '07/necron/SoulReaping_omen.webp',
          alt: '',
          title: 'BOSS身前的圆形标记，表示储存了技能',
        },
      ]}
    />
  </div>
</MechanicSection>
