---
import type { Time } from '@/lib/utils'

import P from '@/components/typography/P.astro'
import MechanicSection from '@/components/section/MechanicSection.astro'
import T from '@/components/typography/T.astro'
import Skill from '@/components/typography/Skill.astro'
import ImgRow from '@/components/typography/ImgRow.astro'
import Span from '@/components/Span.vue'
import Boss from '@/components/Boss.astro'
import Quote from '@/components/typography/Quote.astro'
import RoleIcon from '@/components/RoleIcon.astro'

import { translations } from '../_translations'

import XfoldBlightCast from '../_components/XfoldBlightCast.astro'

interface Props {
  start: Time
}

const { start }: Props = Astro.props
---

<XfoldBlightCast start={start} />
<MechanicSection>
  <!-- TwofoldBlight、FourfoldBlight -->
  <div class="flex flex-col gap-4" id="twofold-fourfold-blight">
    <T>
      <Skill name={[translations.TwofoldBlight, translations.FourfoldBlight]}>
        <Span variant="default" slot="separator">or</Span>
      </Skill>
    </T>
    <P>
      以
      <Boss />
      为中心的窄扇形44/2222分摊，与
      <Skill name={translations.SoulReaping} />
      （辣翅/辣尾）同时判定
    </P>
      <ImgRow
        borderVariant="cyan"
        wrapperClass="max-w-160"
        imgs={[
          {
            src: 'imgs/07/necron/SoulReaping_activate.png',
            alt: '',
            title: 'BOSS身前的标记变红，表示储存的技能即将释放',
          },
        ]}
      />
    <P>在躲避辣翅/辣尾的同时，按照经典分组处理44/2222分摊即可，具体如下：</P>
    <Quote variant="lime">
      <P>
        44分摊：
        <RoleIcon role="tank" tag="MT" />
        <RoleIcon role="melee" tag="D1" />
        <RoleIcon role="healer" tag="H1" />
        <RoleIcon role="ranged" tag="D3" />
        、
        <RoleIcon role="tank" tag="ST" />
        <RoleIcon role="dps" tag="D2" />
        <RoleIcon role="healer" tag="H2" />
        <RoleIcon role="magic" tag="D4" />
      </P>
      <P>
        2222分摊：
        <RoleIcon role="tank" tag="MT" />
        <RoleIcon role="melee" tag="D1" />
        、
        <RoleIcon role="healer" tag="H1" />
        <RoleIcon role="ranged" tag="D3" />
        、
        <RoleIcon role="tank" tag="ST" />
        <RoleIcon role="dps" tag="D2" />
        、
        <RoleIcon role="healer" tag="H2" />
        <RoleIcon role="magic" tag="D4" />
      </P>
    </Quote>
    <ImgRow
      borderVariant="cyan"
      wrapperClass="max-w-160"
      imgs={[
        {
          src: 'imgs/07/necron/SoulReaping_demo_1.png',
          alt: '',
          title: '示例：辣翅 + 44分摊',
        },
      ]}
    />
  </div>
</MechanicSection>
