---
import type { VariantType } from '@/lib/variant'
import type { Img } from '@/components/typography/img'

import Separator from '@/components/Separator.astro'
import Span from '@/components/Span.vue'
import ImgWrapper from '@/components/typography/ImgWrapper.astro'
import { cn } from '@/lib/utils'

interface Props {
  columnTitles: [string, string]
  rows: {
    title: string
    titleVariant?: VariantType
    cells: {
      img?: Img
      class?: string
    }[]
  }[]
  class?: string
  defaultImgWrapperStyle?: {
    bordered?: boolean
    borderVariant?: VariantType
    rounded?: boolean
    class?: string
    imgClass?: string
    titleClass?: string
  }
  [key: string]: any
}

const { columnTitles, rows, class: className = '', defaultImgWrapperStyle = {}, ...rest }: Props = Astro.props
const defaultTitleClass = 'flex justify-center text-lg font-bold tracking-wider'
---

<div
  class={cn(
    'grid grid-cols-[min-content_1px_minmax(0,24rem)_1px_minmax(0,24rem)] grid-rows-[min-content_1px_1fr_1px_1fr]',
    className,
  )}
  {...rest}
>
  <Separator class="col-start-2" orientation="vertical" />
  <div class={cn(defaultTitleClass, 'pb-2')}>{columnTitles[0]}</div>
  <Separator orientation="vertical" />
  <div class={cn(defaultTitleClass, 'pb-2')}>{columnTitles[1]}</div>

  <Separator class="col-span-full" />

  <div class={cn(defaultTitleClass, 'pr-2 [text-orientation:mixed] [writing-mode:vertical-lr]')}>
    <Span variant={rows[0].titleVariant || 'default'}>{rows[0].title}</Span>
  </div>
  <Separator orientation="vertical" />
  <div class={`px-3 py-2 ${rows[0].cells[0].class || ''}`}>
    {
      rows[0].cells[0].img && (
        <ImgWrapper
          {...rows[0].cells[0].img}
          bordered={rows[0].cells[0].img.bordered ?? defaultImgWrapperStyle.bordered}
          borderVariant={rows[0].cells[0].img.borderVariant ?? defaultImgWrapperStyle.borderVariant}
          rounded={rows[0].cells[0].img.rounded ?? defaultImgWrapperStyle.rounded}
          class={rows[0].cells[0].img.class ?? defaultImgWrapperStyle.class}
          imgClass={rows[0].cells[0].img.imgClass ?? defaultImgWrapperStyle.imgClass}
          titleClass={rows[0].cells[0].img.titleClass ?? defaultImgWrapperStyle.titleClass}
        />
      )
    }
  </div>

  <Separator orientation="vertical" />

  <div class={`px-3 py-2 ${rows[0].cells[1].class || ''}`}>
    {
      rows[0].cells[1].img && (
        <ImgWrapper
          {...rows[0].cells[1].img}
          bordered={rows[0].cells[1].img.bordered ?? defaultImgWrapperStyle.bordered}
          borderVariant={rows[0].cells[1].img.borderVariant ?? defaultImgWrapperStyle.borderVariant}
          rounded={rows[0].cells[1].img.rounded ?? defaultImgWrapperStyle.rounded}
          class={rows[0].cells[1].img.class ?? defaultImgWrapperStyle.class}
          imgClass={rows[0].cells[1].img.imgClass ?? defaultImgWrapperStyle.imgClass}
          titleClass={rows[0].cells[1].img.titleClass ?? defaultImgWrapperStyle.titleClass}
        />
      )
    }
  </div>

  <!-- 第二行（如果存在） -->
  {
    rows.length > 1 && (
      <>
        <Separator class="col-span-full" />

        <div class="flex justify-center pr-2 text-lg font-bold tracking-wider [text-orientation:mixed] [writing-mode:vertical-lr]">
          <Span variant={rows[1].titleVariant || 'default'}>{rows[1].title}</Span>
        </div>
        <Separator orientation="vertical" />

        <div class={`px-3 py-2 ${rows[1].cells[0].class || ''}`}>
          {rows[1].cells[0].img && (
            <ImgWrapper
              {...rows[1].cells[0].img}
              bordered={rows[1].cells[0].img.bordered ?? defaultImgWrapperStyle.bordered}
              borderVariant={rows[1].cells[0].img.borderVariant ?? defaultImgWrapperStyle.borderVariant}
              rounded={rows[1].cells[0].img.rounded ?? defaultImgWrapperStyle.rounded}
              class={rows[1].cells[0].img.class ?? defaultImgWrapperStyle.class}
              imgClass={rows[1].cells[0].img.imgClass ?? defaultImgWrapperStyle.imgClass}
              titleClass={rows[1].cells[0].img.titleClass ?? defaultImgWrapperStyle.titleClass}
            />
          )}
        </div>

        <Separator orientation="vertical" />

        <div class={`px-3 py-2 ${rows[1].cells[1].class || ''}`}>
          {rows[1].cells[1].img && (
            <ImgWrapper
              {...rows[1].cells[1].img}
              bordered={rows[1].cells[1].img.bordered ?? defaultImgWrapperStyle.bordered}
              borderVariant={rows[1].cells[1].img.borderVariant ?? defaultImgWrapperStyle.borderVariant}
              rounded={rows[1].cells[1].img.rounded ?? defaultImgWrapperStyle.rounded}
              class={rows[1].cells[1].img.class ?? defaultImgWrapperStyle.class}
              imgClass={rows[1].cells[1].img.imgClass ?? defaultImgWrapperStyle.imgClass}
              titleClass={rows[1].cells[1].img.titleClass ?? defaultImgWrapperStyle.titleClass}
            />
          )}
        </div>
      </>
    )
  }
</div>
