---
import type { VariantType } from '@/lib/variant'

import { cn } from '@/lib/utils'

interface Props {
  variant?: VariantType
  class?: string
  [key: string]: any
}

const { variant = 'default', class: className, ...rest } = Astro.props

const borderColorStyle = {
  default: '',
  red: 'border-red-500',
  orange: 'border-orange-500',
  amber: 'border-amber-500',
  yellow: 'border-yellow-500',
  lime: 'border-lime-500',
  green: 'border-green-500',
  emerald: 'border-emerald-500',
  teal: 'border-teal-500',
  cyan: 'border-cyan-500',
  sky: 'border-sky-500',
  blue: 'border-blue-500',
  indigo: 'border-indigo-500',
  violet: 'border-violet-500',
  purple: 'border-purple-500',
  fuchsia: 'border-fuchsia-500',
  pink: 'border-pink-500',
  rose: 'border-rose-500',
  slate: 'border-slate-500',
  gray: 'border-gray-500',
  zinc: 'border-zinc-500',
  neutral: 'border-neutral-500',
  stone: 'border-stone-500',
}[variant]
---

<div class={cn('flex flex-col gap-4 border-l-2 pl-2', borderColorStyle, className)} {...rest}>
  <slot />
</div>
