---
import DirectionalDisregard from '@/components/buff/DirectionalDisregard.astro'
import DamageInfo from '@/components/DamageInfo.astro'
import RoleIcon from '@/components/RoleIcon.astro'
import EventSection from '@/components/section/EventSection.astro'
import NoteSection from '@/components/section/NoteSection.astro'
import SeparatorSection from '@/components/section/SeparatorSection.astro'
import P from '@/components/typography/P.astro'
import Quote from '@/components/typography/Quote.astro'
import DutyStratLayout from '@/layouts/DutyStratLayout.astro'
import BossAttackSection from './_components/BossAttackSection.astro'
import HowlingBlade from './_components/entities/HowlingBlade.astro'
import WolfOfStone from './_components/entities/WolfOfStone.astro'
import WolfOfWind from './_components/entities/WolfOfWind.astro'
import MoveToNorthEvent from './_components/MoveToNorthEvent.astro'
import RavenousSaberActivate from './_components/RavenousSaberActivate.astro'

import TacticalPack from './_mechanics/TacticalPack.astro'

import { translations } from './_translations'

const dutyId = '07/m8s1'

const base = '02:53.751'
---

<DutyStratLayout dutyId={dutyId} base={base}>
  <MoveToNorthEvent time="02:53.751" />

  <SeparatorSection id="tactical-pack" title={translations.tacticalPack} />
  <NoteSection>
    <P>为保证时间轴简明，以下事件将被略去：</P>
    <Quote variant="cyan" class="mt-4">
      <P>
        <WolfOfWind />
        每3秒1次对
        <RoleIcon role="tank" tag="一仇" />
        的普通攻击
        <DamageInfo damage="50000" type="physical" />
      </P>
      <P>
        <WolfOfStone />
        每3秒1次对
        <RoleIcon role="tank" tag="一仇" />
        的普通攻击
        <DamageInfo damage="50000" type="physical" />
      </P>
    </Quote>
  </NoteSection>
  <TacticalPack />

  <SeparatorSection id="ravenous-saber" title={translations.ravenousSaber} />
  <RavenousSaberActivate time="04:17.941" damage="60000" />
  <RavenousSaberActivate time="04:18.120" damage="60000" />
  <RavenousSaberActivate time="04:18.433" damage="60000" />
  <RavenousSaberActivate time="04:20.531" damage="100000" />
  <RavenousSaberActivate time="04:21.826" damage="200000" />

  <SeparatorSection />
  <EventSection time="04:27.478">
    <HowlingBlade />
    失去
    <DirectionalDisregard hover />
    ，目标圈恢复身位限制
  </EventSection>

  <BossAttackSection time="04:28.464" damage="60000" damageType="physical" />
</DutyStratLayout>
