---
import ListDot from '@/components/ListDot.astro'
import Span from '@/components/Span.vue'
import StratLink from '@/components/StratLink.astro'
import CastSection from '@/components/section/CastSection.astro'
import MechanicSection from '@/components/section/MechanicSection.astro'
import NoteSection from '@/components/section/NoteSection.astro'
import SeparatorSection from '@/components/section/SeparatorSection.astro'
import SolutionSection from '@/components/section/SolutionSection.astro'
import ImgRow from '@/components/typography/ImgRow.astro'
import P from '@/components/typography/P.astro'
import Skill from '@/components/typography/Skill.astro'
import T from '@/components/typography/T.astro'
import DutyStratLayout from '@/layouts/DutyStratLayout.astro'

const dutyId = '07/m11s'

const base = '00:00.00'
---

<DutyStratLayout dutyId={dutyId} base={base}>
  <NoteSection>
    <div class="space-y-8">
      <div class="space-y-4 text-2xl">
        <P>MMW文档链接：<StratLink variant="teal" href="https://docs.qq.com/doc/DS2pXVk5PZnR3ZEJx" target="_blank">腾讯文档</StratLink></P>
      </div>
      <div class="space-y-4">
        <P>参考标点</P>
        <ImgRow
          wrapperClass="max-w-100"
          imgs={[
            {
              src: 'imgs/waymarks/07/m11s.png',
            },
          ]}
        />
      </div>
    </div>
  </NoteSection>

  <SeparatorSection id="天顶的主宰" />
  <MechanicSection>
    <div class="space-y-8">
      <div class="space-y-4">
        <T><Skill name="天顶的主宰" /></T>
        <P>全屏物理AoE</P>
      </div>
    </div>
  </MechanicSection>

  <!-- https://plan.xivstrat.cn/#/plan/eJztmV1v2jAUhu_5FVV2CyTOByG9myp1mqbtprurqsokDngNceSYUVbx3-d8jMax6Qx0JalWpCo5x3HOc3yw_ZqnwcWFkaJH9jkyLi-ABYaFAVKUQn7_xG_47QPa8BvjKwA398AYVsY4IYTu2nBDvoAZKtqlJEV1K25e44gtuNm1rJ1tgfB8wSpjadvWnc4pjpp9sk2jS6El4zGvKGo2XtGkaLtgLMsvTTMk-fgR_8wZhWwcpma2miU4NMu4Tcs3lwDkJhiv0Sw7Mlqc32QEJ4heU1REwugK1a4ZDB_mlKxSASeDUYTTecNUkJCMG3avKx4mjJFly5igmLVMtI7Lqk3bwZ__ZYRGzlCWc_9tad9FQWY_UMieHU2nkHUG6RwxY9j04ZCkhc-EIeN5rJrc50uYJOOMowmNQ5KUNWJ8iGOL_4leksEQs01Zd5bgoTDCqyJAT7TnDLLSfnsntifcgcvAWh1V2TYiTMV3RyiGq4R9g0v0paruOivjiuimABIfeZR630iWsnrdqWDLcJqiSCiP2pPADSrTU0dj7Jzb4csjg1K03OhmM8e_iocmll7OihEuZ4PWA_r8_n5-bcIMUtYirDnsqW4V_ZXQ8yXCdid7GCfTjpFMJJKRLorfMRRPQnFlkJGrQPGCjqG48qhos3StwoBehUnGqshAx2hsrW_-Hhi7WzBuIMN4EovvySR-x4altXRWRaaH4ulPY5CgK0zDBJ26HzlomrU6FN-eunbOFKLunDhxzxOgdnzeeeI7YIgn3YlQFZ7-Av6q4cnBKWdLsdkM5ujqWeHMnNAJW2KJ73zpp4SsG81iwD-tmFcswWmzr9gP_EBfDqzhZgnpg3J2doBufvbNznXv3-uXubIsGoGJrShAYMs5dMQt0XHi4E15HZn3AFynb7i2Hq6a1u4bLdAsZjUu6BtupMLVm5pbCrMHsKHO-Y16mWxp0B7AzhRfW82B7d2MDHUGVj2uWtNxfXU3aJD_Pz1tOP7l6an_whoieN7p6an_GjuGNxHroChKSz6tU0yyngq0YwdcilMUhe7zFLpgqi_tz3aKoouifyDUI9ExFYe2B0vcSaIjsPqGe4roCHq3Cz9JdAS901gniI6gd_L5BNER9G4jfrzoCHonsI4XHcFrKGdI0DVMD5YATssRw_RjOk-QvEo08uDIPybrDar4c3p3zkffMnmjo7M3fV_Zs7292XO9fdkD0yNlE7Aam_D6qhbwg-Jq-xv9YPnG -->
  <SeparatorSection id="铸兵之令：轰击" />
  <MechanicSection>
    <div class="space-y-8">
      <div class="space-y-4">
        <T><Skill name="铸兵之令：轰击" /></T>
        <P>看生成的兵器：</P>
        <P>
          <ListDot />
          如果是斧头，则是点名二仇的可分摊死刑 + 点名 DH 六人的圆形分散，物理伤害
        </P>
        <P>
          <ListDot />
          如果是镰刀，则是点名一二仇的扇形分散死刑 + 点名随机 DH 的扇形分摊，物理伤害
        </P>
      </div>
    </div>
  </MechanicSection>
  <SolutionSection>
    <div class="space-y-8">
      <div class="space-y-4">
        <P>斧头的情况奶妈和远程避开近战和坦克灵性分散即可，不用死认下图站位</P>
        <ImgRow
          wrapperClass="max-w-100"
          imgs={[
            {
              src: 'imgs/07/m11s/plan/p1/%E9%93%B8%E5%85%B5%E4%B9%8B%E4%BB%A4%EF%BC%9A%E8%BD%B0%E5%87%BB/1.png',
              title: '情形1：斧头'
            },
            {
              src: 'imgs/07/m11s/plan/p1/%E9%93%B8%E5%85%B5%E4%B9%8B%E4%BB%A4%EF%BC%9A%E8%BD%B0%E5%87%BB/2.png',
              title: '情形2：镰刀'
            }
          ]}
         />
      </div>
    </div>
  </SolutionSection>
</DutyStratLayout>
