---
import Badge from '@/components/Badge.astro'
import DamageInfo from '@/components/DamageInfo.astro'
import Span from '@/components/Span.vue'
import EventSection from '@/components/section/EventSection.astro'
import type { Time } from '@/lib/utils'
import { translations } from '../_translations'

interface Props {
  time: Time

  // toln: number
}

const { time }: Props = Astro.props
---

<EventSection time={time}>
  <Span variant="yellow">{translations.AlexandrianBanish2}</Span>
  伤害判定
  <DamageInfo damage="120000" type="physical" />
  <!-- 易伤图标需要替换 -->
  <!-- <MagicVulnerabilityUp tag="5" hover /> -->
  <Badge variant="purple">四四分摊</Badge>
  <!-- <Badge variant="purple">远近引导 x{toln}</Badge> -->
</EventSection>
