---
import type { Role } from './role'

import Layout from '@/layouts/Layout.astro'

import RoleIcon from './_components/RoleIcon.astro'
import MTCD from './_components/MTCD.astro'
import STCD from './_components/STCD.astro'
import D1CD from './_components/D1CD.astro'
import D2CD from './_components/D2CD.astro'
import D3CD from './_components/D3CD.astro'
import D4CD from './_components/D4CD.astro'
import DutyTimer from './_components/DutyTimer.astro'
import Damage from './_components/Damage.vue'
---

<Layout lang="zh-CN" title="M5S PR 时间轴" description="M5S PR 时间轴">
  <div class="min-h-screen w-960">
    <div class="relative flex h-72 items-center justify-center">
      <DutyTimer class="absolute top-1/2 left-1/2 -translate-x-115 -translate-y-1/2" />
      <div class="grid grid-cols-6 place-items-center gap-x-1 gap-y-1.5">
        {['MT', 'ST', 'D1', 'D2', 'D3', 'D4'].map((role) => <RoleIcon role={role as Role} />)}
        <MTCD duty="m5s" />
        <STCD duty="m5s" />
        <D1CD duty="m5s" />
        <D2CD duty="m5s" />
        <D3CD duty="m5s" />
        <D4CD duty="m5s" />
      </div>
      <Damage
        class="absolute bottom-22 left-1/2 translate-x-80"
        client:idle
        damageInfo={{
          name: '四连指向、定格＆播放',
          time: '00:08.045',
          type: 'magical',
          value: '200000',
        }}
      />
      <Damage
        class="absolute bottom-22 left-1/2 translate-x-180"
        client:idle
        damageInfo={{
          name: '新式超豪华野蛮大乱击',
          time: '00:12.045',
          type: 'physical',
          value: '40000',
        }}
      />
    </div>
  </div>
</Layout>

<script>
  import { $mitigation } from './_stores/mitigation'
  import { startTimer } from './_stores/timer'

  setTimeout(() => {
    startTimer()
  }, 5000)

  $mitigation.listen((v) => {
    console.log(v)
  })
</script>
