---
import Badge from '@/components/Badge.astro'
import CollapseSection from '@/components/section/CollapseSection.astro'
import DamageInfo from '@/components/DamageInfo.astro'
import EventSection from '@/components/section/EventSection.astro'
import P from '@/components/typography/P.astro'
import Quote from '@/components/typography/Quote.astro'
import Span from '@/components/Span.vue'

import type { Time } from '@/lib/utils'
import DamageDown from '@/components/buff/DamageDown.astro'

import { translations } from '../_translations'

interface Props {
  activateTimes: Time[]
}

const { activateTimes }: Props = Astro.props

const bareFangs = translations.bareFangs
const championsCircuit = translations.championsCircuit
---

<CollapseSection>
  <Fragment slot="summary">
    依次判定<Span variant="pink">5</Span>组AoE
    <DamageDown tag="30" />
    <Badge variant="yellow">AoE组合</Badge>
  </Fragment>
  <Fragment slot="details">
    {
      activateTimes.map((time, index) => (
        <EventSection time={time}>
          第<Span variant="pink">{index + 1}</Span>组AoE
          <Quote variant="zinc">
            <P>
              <Span variant="yellow">{bareFangs}</Span>
              造成
              <DamageInfo damage="170000" type="magical" />
              <DamageDown tag="30" />
              <Badge variant="yellow">半平台AoE</Badge>
            </P>
            <P>
              <Span variant="yellow">{championsCircuit}</Span>
              造成
              <DamageInfo damage="150000" type="magical" />
              <DamageDown tag="30" />
              <Badge variant="yellow">特殊AoE</Badge>
            </P>
          </Quote>
        </EventSection>
      ))
    }
  </Fragment>
</CollapseSection>
