---
import type { Time } from '@/lib/utils'

import Badge from '@/components/Badge.astro'
import CastSection from '@/components/section/CastSection.astro'

import { translations } from '../_translations'
import GleamingFang from './entities/GleamingFang.astro'
import Span from '@/components/Span.vue'

interface Props {
  start: Time
}

const { start }: Props = Astro.props

const ability = translations.gleamingBeam
---

<CastSection start={start} duration={3.7} ability={ability}>
  <GleamingFang slot="source">
    <div class="text-decimal">
      <Span variant="rose" class="ml-0.5">光牙×5</Span>
    </div>
  </GleamingFang>
  <Badge variant="emerald">半岛刀</Badge>
</CastSection>
