---
import type { Time } from '@/lib/utils'

import Span from '@/components/Span.vue'
import EventSection from '@/components/section/EventSection.astro'
import DamageInfo from '@/components/DamageInfo.astro'
import RoleIcon from '@/components/RoleIcon.astro'
import Badge from '@/components/Badge.astro'

import HowlingBlade from '../_components/entities/HowlingBlade.astro'
import { translations } from '../_translations'

interface Props {
  start: Time
  base?: Time
}

const { start, base = 0 }: Props = Astro.props

const huntersHarvest = translations.huntersHarvest
---

<EventSection time={start} base={base}>
  <HowlingBlade />
  对
  <RoleIcon role="all" tag="一仇" />
  使用
  <Span variant="yellow">{huntersHarvest}</Span>
  <DamageInfo damage="280000" type="physical" />
  <Badge variant="green">200°</Badge>
  <Badge variant="red">死刑</Badge>
</EventSection>
