---
import type { Time } from '@/lib/utils'

import Badge from '@/components/Badge.astro'
import CastSection from '@/components/section/CastSection.astro'
import MagicVulnerabilityUp from '@/components/buff/MagicVulnerabilityUp.astro'
import RoleIcon from '@/components/RoleIcon.astro'
import Span from '@/components/Span.vue'

import HowlingBlade from '../_components/entities/HowlingBlade.astro'

import { translations } from '../_translations'

interface Props {
  start: Time
}

const { start }: Props = Astro.props

const ultraviolentRay = translations.ultraviolentRay
---

<CastSection
  start={start}
  duration={5.7}
  ability={ultraviolentRay}
  target
  damage="100000"
  damageType="magical"
  damageVariant="skywardLeap"
>
  <HowlingBlade slot="source" />

  <div slot="target">
    <Span variant="pink">4</Span>
    <RoleIcon role="tank|healer" />
    <Span variant="pink">1</Span>
    <RoleIcon role="dps" />
    或
    <Span variant="pink">4</Span>
    <RoleIcon role="dps" />
    <Span variant="pink">1</Span>
    <RoleIcon role="tank|healer" />
  </div>

  <MagicVulnerabilityUp tag="1" />
  <Badge variant="yellow">分散</Badge>
</CastSection>
