---
import Span from '@/components/Span.vue'
import StratLink from '@/components/StratLink.astro'
import CastSection from '@/components/section/CastSection.astro'
import MechanicSection from '@/components/section/MechanicSection.astro'
import NoteSection from '@/components/section/NoteSection.astro'
import SeparatorSection from '@/components/section/SeparatorSection.astro'
import SolutionSection from '@/components/section/SolutionSection.astro'
import ImgRow from '@/components/typography/ImgRow.astro'
import P from '@/components/typography/P.astro'
import Skill from '@/components/typography/Skill.astro'
import T from '@/components/typography/T.astro'
import DutyStratLayout from '@/layouts/DutyStratLayout.astro'

const dutyId = '07/m10s'

const base = '00:00.00'
---

<DutyStratLayout dutyId={dutyId} base={base}>
  <NoteSection>
    <div class="space-y-8">
      <div class="space-y-4 text-2xl">
        <P>MMW文档链接：<StratLink variant="teal" href="https://docs.qq.com/doc/DS0dtUm96a1RtdUdV" target="_blank">腾讯文档</StratLink></P>
      </div>
      <div class="space-y-4">
        <P>初始场地如下图</P>
        <ImgRow
          wrapperClass="max-w-100"
          imgs={[
            {
              src: 'imgs/floor/07/m10s/1a.png',
            },
          ]}
        />
      </div>
    </div>
  </NoteSection>
  
  <SeparatorSection />
  <SolutionSection id="火蛇|水蛇夺浪">
    <div class="space-y-8">
      <div class="space-y-4 text-2xl">
        <Skill name="火蛇/水蛇夺浪 · 近战优化解法" variant='lime' />
      </div>
      <div class="space-y-4">
        <P>战术板链接：<StratLink variant="teal" href="https://plan.xivstrat.cn/#/plan/eJztnd-O28YVh-_9FMb21vJyhn9EBigKJ6iDomkC1Lko0BQBraV2VWspleLGdoMAaWvYrou2MQpfNHZz0bhokSCtA7twYifty1i727coKXG14vBodmgONRzu8cWay6G0nN8Zcs7Md-bM-2fOnt0Ig2vxD7Y2XjlrUXouPeFHQegnv7-f_JL8eiW4nvyy8SNiXHqXXNg4Nz_bH45G0eKi5MRkxx8H6YXhKAyyq5LTVwdb8U5y2qbG4txOMNjeiecnZ-c-yL50OxpsLX9nfH3pK3NXxslN70XB8sV70TC9dieOx5NXNjd7o8n5a4P3JnHkx-d74eZ47_Jw0Nuc3fem0d3cJcZkk_jnrwaXx-K3uzg56vcnQfyT5Gy-CoPJpfFoMAyii1GQ3l4c7QVZ0WW_d2U7Gu2FuTqO_a2tQbi9dCqt3micnCDHfy_9-CiOR7uF08OgHxdORtkdk0zg5P7OHP2c3enGJA7Gk-SKn87OL-5mdPnnQS8-LlguzJkkCIPd6xvnlotGY783iNPGQgwjVzIZ_DL9kJM_G41iPx6MwlTDXMGgNwpnLdKhufPXClemf4xS5tPpJ_MfHA_CMNjKrLEo-OCc_Cp2S1fRKFSxQ5xiLdlzs1qaEmrpj4KLfihazcjfGuylzcO28wV9P7wQbg8DtinmRSBusbqARQ2grpaEul71r-_60ZXXk4dwzNQ42gqit7PLLtBXzXzxeOj3gt0gjI8umfxiL3lNbsDasAJkbcMkecW231opc3_7x6tazmXOxzh2W_V1sAUA_YmctvbaIOoNg_LNrXjXxCved8cD7tzN6-dPgmMFme9NC18bDWc928Z3Ar9L6Fb-XtN6R68PR1ePL-tTl1iUqdJePByES9_V79s9w9jQQkQTENFBEUuJCGloo4alNIQe5i5HQ2ppo-FqkY7UHftRzHgfWT9C8y-0k30M2yzI3SFmUW_23Py9X-XFv9ZqJn8i-QfVFWhbcF2rOBkn1zW9U6YB7vrbwfKoxZ8ko4rcuGVvsJl-bpMSK6ld-p_p2u_uROR8Mgb6Xn8U7frxd8fJACL3xUfjGJJ_5yyGMqtdtBXizv9urmzXv3YpTsY0k8KnQn93Vqv9R08O79-aPny2_-_PNgC7UMAuFuT7OavtkisZ-teD2SPa395Ag8k3mCtqMFtzg1mKDGaVNNjBrz7nGAx6wODBFWckifZam72AcT9sLk6fjOZam7nADgw0mOnVYbB6HHECvOMhT5zwxtUaueK1qGiLitiS8UwtIsKDFFBGE2XkyAiNf0AZaTtkxJ5sUSLakwGePdyTuavtUqfrIXM6xCnUX7zT44xEG1ZLUqilcKfEGb01rJIW0JSFOw1Dl2paLlBN0Zc6x_U8rmV29LMzS3VuHRS2OO8u4a65-VTYErL4yR6IFljYrvIQIxeuzoVtfcGwzXN3EcgJkmGbN_ZCFQXRcHFwhSLyRASfZx5gb9XwtW44bNGC4MzLcg7j6x0NIX5jzGIWzeJAZumuNkuupLlj9Oos367i7GPbXJTIRsN2LShEmwkkZijY5I7h5SeQnHqfvaZMIDn12hLnqBm7iNJWRxEeb8qMnyNj9YMaqOzwxkEaufBKobKDNFQGVHZaMpxUDJUd3tIBjWTEDntRIhsqO4oGrGiwnMFEww8dRUM4NFfOXML-cLcWf3jRrUTR6Gr-7nqL165hBA5l380rDb1Q3YBVX82K8y1ydkvfD8E6Zj6AU5COvZm5dGZ1gdK16nkF_OFgO73r-eLtXFF_FMaXskGDsULU_uyfMIOOr8_461GfuCHWcmd3nbbBz__84tvfHzy_eXjn1--E-4__sX_jj9MHz6YPHh3e-fLg2dfMeCeORleC7C7TKTygWwBeMzYkvXuscHakaXgCjO6hyTFimMLNqvmBCMTARdvzImWLto0qhEYtnScGLzYamaggnicGrn-vzueJ4aGKlQE9Ow3Y4rkAmYyiWxAcnMQybUBxs8pc8HqrCTlO0OMJVlOfuGxbzJorFuNrsxqfiUItuRCf1Ntskd4zhgGmEizwOVs9HkaDrdNgwNQqbLAuGqwRBhPNdUGI7mvx22Ix0Ygmwksbo4XFTtl8OOEtcEODrc1goryJ8FZdor3WZi_xCCxCaiG6ihNeYMYLGRkvCG8m7bSrWGL1MvMsoo55HcVzXpB26Ijd2aJEdnwSoZzpqDodkIYsWiC0SqZxXVYtEFoFV-uzbIFQbfJ7VAqDJ1QK_G5CeBP7phIIcCqK5ELzg3T1_GDbJQLaESgREwIiXyIoUqoOiahVUqIu8KSBErkSJNI7TG7_t7em3_51evvh9J8fTz_6wzvh_qMnB89vTG_f3L_36ey3V9-6dOnFNx8f3vps-vTLw__e2v_L38rHzgEDcBd69ZmesO7cODKm71x_zh7SXYqIy47qDANsQIVVZSlac6gjL4ltrfVccxCkJWM1HgZBFr5OPAiSl91avAdXEwRpYWIYGUGQFm8tH8pYlBFWEXcBkhAEabUk57OChDCiDocBZMUhlTLVYfzEokQ0fgKadyPQ6NFGHN-E-XBxumsjj2-CwYTjJ2xcX90Ee5WIn-BlL3t5iymOn7CR_EuIn2CeelRxWcUSFMxpCfdXHT_h4KYhp7U7E46fcBTFtDclfsLRJ7KgQvyEo01cQbX4CUebxYbV4id4aZnEu6WWk-98W5C0vqr1TPzunfUzcbHUu9mRtqlmIDXAhtsVboWqIKsY3XNl8HLkq4WvK2EBSRsOqeCrzElEWifKCJJBjzeYRhkF-aqHGxJJ4KteS9IfN4SvQqkhQNnrHeMiXmXsAkw-QGkUiZdvCvplgGjHbJlwAghqKFpshAbLGUw0kJUauifsaIe9xFOsUF5e0pe3mFq6Sg3crqA6XaVGS3YrUExXKTd5K-ooOgdPudlbNdIRu7NFSQW6uqI7Oz1b6kHTJpS5sMGjbEG6CtdSm9SfwnQVrqc2GWuF6SpcTxmrkvQGhMkbcPrg9ub-oyfzdbJHR3fvLEHD5KIUE07vfzJ98OzFV1_Mzhw8v7F_78mLb_80_c-HL7763fTrxwd_f14eHQKvmI4D0DJKlmhZdtR2QkiJpDXEtS7DFH7caJVOAjFhdUxIqYwFv2owIaVIZiRgQkp5aAZlFMOEFBj2oYo8FeFHuiXzZXphQlopKRNiwkWJZExIOYmg9DBYO6Z9xCEGrWWJGBqspMGEMSHFXVObYK8SmJBxvtqBCU1c9iYBE5otWfSmGhOaLYnVU40JTd6QUCMdsTtblEjHhKaiNCtNwYQa7RFYAROaVRbtaYQJzSrLfjTChKaMxTUcTNgLwjh52nOFTQSF6cLBb-5N__XN4dPHh09_U5r1iZI-y2hSZw82CW4aviZ29tlR64mpJWPBtCqWKt6RWrjicl6kDKVa-q64pACgQnrFlRF8CG1ccSkBpdrI9SWgVLslsziaoVQbV1w2EqUy-WwRpTYdpWI-20YYTBilYj7bRtirBEptYz5bivlsZaBUzGcrB6ViPls5KBXz2Z7W7ozZeS2VzgE2EqFMNtu1-fdNAamty2YL17J92WzhemqDxSGQ6hafWRt8ZmWgGcSowhjVkcGIVAFWBx37kuMjUMYucuoTlVbCqbvNz_1bogOTsmEu4ujC14nj6K7GOJoJn0QCeKKM4EPoIo6WgKNdxNEScLSLOFoFjnYRRzcSR7uIoxsxvcjsQT6zlwfZq5YtZdBeJe0lTKNdpNFNsFcJGs3bMublLaaYRrs4aSWBRnP3gzntKpag0dwNYVBHYRrN3RJGIx2xO1uUSKbRXitpdMcuessW5C3XvO1MQ2C0d0pgtHcqYLSHMHqtMNrTGUZ76NdLgNEm86Uo47KM4m9oU7sNKbKjtkN902h-um5Rd8estKMDIv3qSN-stNuEWqRvEqSoEpC-STBZd3WkbxJM1l0d6ZsEk3UrQPomwWTdTUT6JsFk3Y2YoxVE-ibBPZibYC9RpG8SzNXdBHt1umbBYB409mVuVtLzpRbomxQRanWgb3J3bjrtKooDfZO7dRPqKAr0Te7mTRrpiJ3ZokQu0DeponjdZgB9s-YNopoB9E2qdZput-iXgUyCt0dRs2pZAeebvJ19hPsjxPmiON_k7cvTpP4ffPBx_x0pOB834JGD83EDnpKDTFBFS7fWmB1pGhQBdBTs_t6ZXUwJTUpZCgSv6DF3CNQhWlViYDFcQkK4hFUlPldxuAR3OxEk1KLhEszmHyjjSTLCKvLCC1FFwXAJqyUxw-udAvAKgneIQQqKdwjTSOeaM_Zq7GxqS2IlPMgwJmiY_JX6wXdVFis7_31SdAuA3zsgfmdm2dBiyixGoYcMGoLYilYhoskYkxlW0WQmxFmYef12xEzYLYkTVRszYeuWuHOdKpaImbB5Q0LUUThmwtZtzZn67qy9MRMrerP8SS2DJqBI_S7kgVmQB-ZUWbG13oraQEUJ4LeA8SGMT9rgeq5cfwEEFqyoqwx-oXtkQeLxppEFD28cfHRzevvm_r1P059378iIL3Ch7qbS_haq4wsc9IBlxBc46AJLiS9w0AWWEF_gtMQBLt3JvgS0PXYzukDD7QKdALjEzpER1Lcb9HbeSDT0ox-Go96Vy4krXDKQgD298-bebnI6b_L35ieJmECrIigMSAZGr5d-aN4o9Purq74YmTDBScMg3J4VWGUAPuBAr6iqkAOdHWkaOQPGlFBoONGt4mbrEzrTleFhY-iM4EsGfOwa522Lh850ec42RiuIhs5wN4pCGQVDZ7oYgCQhdKbbElcb0emiRBSdAllROtB6H7eW8ATF5NRtybpUteTUxdk3KeTUxek3KeTUbcn0G5LTRYnobigAUAMH-q6i3ERrSXQGvHA6BOzTq0z3NaSytGhxcM7Dk5HbU3equLxeOTlOHqLp_U-mt2_VRhU9GRNqqqiih8tEZVBFD51sKVTRQzdbAlX02udkX_TD0hJajGB9P7wQbs_6FjbVxFKvwuZ-LIUdEm_zuFbZka5EiQGl82AmwMWyDCJsycZzI8uQ0ZsjNyp8nTA3sgwZ5E4NN7IMnh-AU_WC3MgyEL9V50aWgfStOjeyDJxpO63cCPAZGBabNZHVM22KGrcoHbKMliQUUEqHLFJ8maKKRyqK0yGLYA49GXTI4m6UpJGO600TAoQVU6ALcKEugFjNqswcJhTz2HagdWcWgWpkCzdz3ZFB4ge8PQcG01vP__fhh_tfPJ_evisBGEAB6FalvXcU8wKLtMQbVssLLNKSYDTFvMAi6L5W5wUW8xZug4q68AK6NHeeHWW84Ex69MH_AZ0i6ZU" target="_blank">XivPlan · 火蛇/水蛇夺浪 · 近战优化解法</StratLink></P>
        {
          (() => {
            const snakingImages = Array.from({ length: 12 }, (_, i) => `imgs/07/m10s/plan/p2/snaking/${i + 1}.png`)
            const imgRows = []
            for (let i = 0; i < snakingImages.length; i += 2) {
              imgRows.push(
                <ImgRow
                  wrapperClass="max-w-110"
                  imgs={[
                    { src: snakingImages[i] },
                    { src: snakingImages[i + 1] },
                  ]}
                />
              )
            }
            return imgRows
          })()
        }
      </div>
    </div>
  </SolutionSection>
</DutyStratLayout>
