---
import Badge from '@/components/Badge.astro'
import MagicVulnerabilityUp from '@/components/buff/MagicVulnerabilityUp.astro'
import DamageInfo from '@/components/DamageInfo.astro'
import RoleIcon from '@/components/RoleIcon.astro'
import Span from '@/components/Span.vue'
import CollapseSection from '@/components/section/CollapseSection.astro'
import EventSection from '@/components/section/EventSection.astro'
import P from '@/components/typography/P.astro'
import Quote from '@/components/typography/Quote.astro'

import type { Time } from '@/lib/utils'

interface Props {
  activateTimes: Time[]
}

const { activateTimes }: Props = Astro.props
---

<CollapseSection>
  <Fragment slot="summary">
    依次判定<Span variant="pink">4</Span>次
    <Quote variant="cyan" class="ml-1">
      <P>
        对<RoleIcon role="any" tag="连线" />：
        <Span variant="teal">圆形分摊</Span>
        <DamageInfo damage="105000" type="magical" />
        <MagicVulnerabilityUp tag="9" hover />
        <Badge variant="emerald">6m圆形</Badge>
        <Badge variant="yellow">二二分摊</Badge>
        <Badge variant="red">扩散毒圈</Badge>
        <Badge variant="red">人数检测</Badge>
      </P>
      <P>
        对<RoleIcon role="any" tag="最近" />：
        <Span variant="lime">直线分摊</Span>
        <DamageInfo damage="105000" type="magical" />
        <MagicVulnerabilityUp tag="9" hover />
        <Badge variant="emerald">16m宽直线</Badge>
        <Badge variant="emerald">近引导</Badge>
        <Badge variant="yellow">二二分摊</Badge>
        <Badge variant="red">人数检测</Badge>
      </P>
    </Quote>
  </Fragment>
  <Fragment slot="details">
    {
      activateTimes.map((time, index) => (
        <EventSection time={time}>
          第<Span variant="pink">{index + 1}</Span>次
          <Quote variant="zinc" class="ml-1">
            <P>
              <Span variant="teal">圆形分摊</Span>
              判定
              <DamageInfo damage="105000" type="magical" />
              <MagicVulnerabilityUp tag="9" hover />
              并留下扩散毒圈
              <Badge variant="emerald">6m圆形</Badge>
              <Badge variant="yellow">二二分摊</Badge>
              <Badge variant="red">扩散毒圈</Badge>
              <Badge variant="red">人数检测</Badge>
            </P>
            <P>
              <Span variant="lime">直线分摊</Span>
              判定
              <DamageInfo damage="105000" type="magical" />
              <MagicVulnerabilityUp tag="9" hover />
              <Badge variant="emerald">16m宽直线</Badge>
              <Badge variant="emerald">近引导</Badge>
              <Badge variant="yellow">二二分摊</Badge>
              <Badge variant="red">人数检测</Badge>
            </P>
          </Quote>
        </EventSection>
      ))
    }
  </Fragment>
</CollapseSection>
