---
import type { Time } from '@/lib/utils'

import CastSection from '@/components/section/CastSection.astro'
import Span from '@/components/Span.vue'
import Badge from '@/components/Badge.astro'

import GleamingFang from './entities/GleamingFang.astro'

import { translations } from '../_translations'

interface Props {
  start: Time
}

const { start }: Props = Astro.props
---

<CastSection start={start} duration={3.7} ability={translations.fangedCharge}>
  <GleamingFang slot="source">
    <div class="text-decimal">
      <Span variant="rose" class="ml-0.5">光牙×2</Span>
    </div>
  </GleamingFang>
  <Badge variant="emerald">6m宽直线</Badge>
</CastSection>
