---
import type { Time } from '@/lib/utils'

import CastSection from '@/components/section/CastSection.astro'
import Badge from '@/components/Badge.astro'
import Span from '@/components/Span.vue'

import WolfOfStone from '../_components/entities/WolfOfStone.astro'

import { translations } from '../_translations'

interface Props {
  start: Time
  num?: number
}

const { start, num = 2 }: Props = Astro.props

const ability = translations.wealOfStone
---

<CastSection ability={ability} start={start} duration={2.2}>
  <WolfOfStone slot="source">
    <Span variant="orange">土狼首×{num}</Span>
  </WolfOfStone>
  <Badge variant="emerald">6m宽直线</Badge>
</CastSection>
