---
import type { Time } from '@/lib/utils'

import RoleIcon from '@/components/RoleIcon.astro'
import Span from '@/components/Span.vue'
import MechanicSection from '@/components/section/MechanicSection.astro'
import SolutionSection from '@/components/section/SolutionSection.astro'
import ImageRow from '@/components/typography/ImgRow.astro'

import AlexandrianBanish3Cast from '../_components/AlexandrianBanish3Cast.astro'

import Zelenia from '../_components/Zelenia.astro'

import f from '@/assets/07/zelenia/P3-4/P3-4-f.png'
import fb from '@/assets/07/zelenia/P3-4/P3-4-fb.png'
import o from '@/assets/07/zelenia/P3-4/P3-4-o.png'

interface Props {
  start: Time
  base?: Time
}

const { start, base = 0 }: Props = Astro.props
---

<AlexandrianBanish3Cast start={start} base={base} />

<MechanicSection>
  <div class="flex gap-4">
    <div class="paragraph">
      <Zelenia />
      对
      <RoleIcon role="all" tag="全员" />
      附加 需要拉线处理 的分摊
    </div>
  </div>
</MechanicSection>
<SolutionSection>
  <div class="flex flex-col gap-6">
    <div class="flex-2 space-y-4 rounded-md border border-dashed p-4">
      <div class="paragraph">
        <Span variant="yellow">Step 1</Span>
      </div>
      <div class="paragraph">全员处理完上一个机制（放花）后，前往放花对面集合</div>
      <div class="paragraph">
        <Span variant="yellow">Step 2</Span>
      </div>
      <div class="paragraph">
        点名出现后，以面向<Zelenia />为基准，
        <RoleIcon role="tank" />
        <RoleIcon role="healer" />
        向左走，
        <RoleIcon role="dps" />向右走
      </div>
      <div class="paragraph">
        <Span variant="yellow">注意</Span>
      </div>
      <div class="paragraph">
        需要走到相连的<Span variant="red">红色地板</Span>范围内，平摊伤害为八人分摊
      </div>
    </div>
    <ImageRow
      class="game-img"
      wrapperClass="max-w-88"
      borderVariant="cyan"
      rounded
      imgs={[
        {
          src: o,
          alt: 'Zelenia：P3-4 集合',
          title: '集合',
        },
        {
          src: f,
          alt: 'Zelenia：P3-4 拉线',
          title: '拉线',
        },
        {
          src: fb,
          alt: 'Zelenia：P3-4 视角补充',
          title: '面向BOSS视角 TN往左 DPS往右',
        },
      ]}
    />
  </div>
</SolutionSection>
