---
import type { Time } from '@/lib/utils'

import RoleIcon from '@/components/RoleIcon.astro'
import Span from '@/components/Span.vue'
import MechanicSection from '@/components/section/MechanicSection.astro'
import SolutionSection from '@/components/section/SolutionSection.astro'
import ImgRow from '@/components/typography/ImgRow.astro'

import BlessedBarricadeCast from '../_components/BlessedBarricadeCast.astro'
import Zelenia from '../_components/Zelenia.astro'

import P2_o from '@/assets/07/zelenia/P2/P2_o.png'
import P2_t from '@/assets/07/zelenia/P2/P2_t.png'
import P2_a from '@/assets/07/zelenia/P2/P2_a.png'

interface Props {
  start: Time
}

const { start }: Props = Astro.props
---

<BlessedBarricadeCast start={start} />

<MechanicSection>
  <div class="flex flex-col gap-4">
    <div class="flex gap-4">
      <!-- <div class="max-w-88 flex-1">
        <Image src={P2_o} alt="" class="rounded border-2 border-fuchsia-400 dark:border-fuchsia-100" />
      </div> -->
      <ImgRow
        class="game-img"
        wrapperClass="max-w-88"
        borderVariant="cyan"
        rounded
        imgs={[
          {
            src: P2_o,
            alt: 'Zelenia：P2 球与分身',
            // title: '',
          },
        ]}
      />
      <div class="flex-2 space-y-4 rounded-md border border-dashed p-4">
        <div class="paragraph">
          <Zelenia />进入
          <Span variant="yellow">无敌状态</Span>
          ，同时显示一条进度条
        </div>
        <div class="paragraph">
          同时，<Zelenia />在场地上召唤
          <Span variant="pink">四个球</Span>
          ，在左右场边召唤
          <Span variant="yellow">两个分身</Span>
        </div>
        <div class="paragraph"></div>
        <div class="paragraph">
          <Span variant="pink">球：</Span>
          需要在进度条满100前打完
        </div>
        <div class="paragraph">
          <Span variant="yellow">分身：</Span>
          会点名连线
          <RoleIcon role="all" tag="随机" />
          ，释放可引导的半场刀，共释放四次
        </div>
      </div>
    </div>
    <div class="flex gap-4">
      <!-- <div class="max-w-88 flex-1">
        <Image src={P2_t} alt="" class="rounded border-2 border-fuchsia-400 dark:border-fuchsia-100" />
      </div> -->
      <ImgRow
        class="game-img"
        wrapperClass="max-w-88"
        borderVariant="cyan"
        rounded
        imgs={[
          {
            src: P2_t,
            alt: 'Zelenia：P2 三人塔',
            // title: '',
          },
        ]}
      />
      <div class="flex-2 space-y-4 rounded-md border border-dashed p-4">
        <div class="paragraph">
          同时，<Zelenia />会召唤两座<Span variant="blue">三人塔</Span>，踩塔人数不足会<Span variant="red">团灭</Span>
        </div>
        <div class="paragraph"></div>
        <div class="paragraph">
          <Span variant="blue">三人塔：</Span>
          固定在左右半场各刷新一座，共刷新三次
        </div>
      </div>
    </div>
  </div>
</MechanicSection>
<SolutionSection>
  <div class="flex gap-4">
    <!-- <div class="max-w-88 flex-1">
      <Image src={P2_a} alt="" class="rounded border-2 border-fuchsia-400 dark:border-fuchsia-100" />
    </div> -->
    <ImgRow
      class="game-img"
      wrapperClass="max-w-88"
      borderVariant="cyan"
      rounded
      imgs={[
        {
          src: P2_a,
          alt: 'Zelenia：P2 站位图',
          // title: '正三角',
        },
      ]}
    />

    <div class="flex-2 space-y-4 rounded-md border border-dashed p-4">
      <div class="paragraph">按照图示位置进行初始站位，</div>
      <div class="paragraph">
        <RoleIcon role="tank" />
        <RoleIcon role="healer" />
        去<Span variant="purple">D</Span>左半场
      </div>
    </div>
    <div class="paragraph">
      <RoleIcon role="dps" />
      去<Span variant="yellow">B</Span>右半场
    </div>
  </div>
  <div class="paragraph">按点名情况引导左右刀+踩塔即可，每人都需要引导一次</div>
  <div class="paragraph">
    <h4 class="text-xl">
      <Span variant="yellow">注意：</Span>
    </h4>
    近战可以在球的近战最远距离处引导左右刀
  </div>
</SolutionSection>
