---
import type { Time } from '@/lib/utils'

import { Image } from 'astro:assets'

import Boss from '@/components/Boss.astro'
import DamageInfo from '@/components/DamageInfo.astro'
import DotInfo from '@/components/DotInfo.astro'
import RoleIcon from '@/components/RoleIcon.astro'
import Span from '@/components/Span.vue'
import Bleeding from '@/components/buff/Bleeding.astro'
import MagicVulnerabilityUp from '@/components/buff/MagicVulnerabilityUp.astro'
import MechanicSection from '@/components/section/MechanicSection.astro'
import SolutionSection from '@/components/section/SolutionSection.astro'

import RoseBloodBloomCast from '../_components/RoseBloodBloomCast.astro'

import img from '@/assets/07/zelenia/Tmp.png'
import Zelenia from '../_components/Zelenia.astro'
---

<MechanicSection>
  <div class="paragraph">
    该aoe会引爆<Span variant="pink">红色地板</Span>
  </div>
  <div class="paragraph">需要人群在无花纹的地板上灵性分散</div>
</MechanicSection>
