---
import Span from '@/components/Span.vue'
import MechanicSection from '@/components/section/MechanicSection.astro'
---

<MechanicSection>
  <div class="paragraph">
    该aoe会引爆<Span variant="pink">红色地板</Span>
  </div>
  <div class="paragraph">需要人群在无花纹的地板上灵性分散</div>
</MechanicSection>
