---
import type { Time } from '@/lib/utils'

import Boss from '@/components/Boss.astro'
import DamageInfo from '@/components/DamageInfo.astro'
import RoleIcon from '@/components/RoleIcon.astro'
import Span from '@/components/Span.vue'
import MagicVulnerabilityUp from '@/components/buff/MagicVulnerabilityUp.astro'
import MechanicSection from '@/components/section/MechanicSection.astro'
import SolutionSection from '@/components/section/SolutionSection.astro'

import SpecterOfTheLostCast from '../_components/SpecterOfTheLostCast.astro'

interface Props {
  start: Time
}

const { start }: Props = Astro.props
---

<SpecterOfTheLostCast start={start} />
<MechanicSection>
  <div class="paragraph">
    点名随机两名
    <RoleIcon role="healer|dps" tag="非T" />
    玩家，需要
    <RoleIcon role="tank" tag="MT" />
    <RoleIcon role="tank" tag="ST" />
    <Span variant="pink">接线处理</Span>
    的
    <Span variant="pink">约30°扇形死刑</Span>
    ，对
    <Span variant="blue">防护职业</Span>
    造成
    <DamageInfo damage="300000" type="magical" />
    <MagicVulnerabilityUp tag="2" hover />
  </div>
</MechanicSection>
<SolutionSection>
  <div class="paragraph">
    被点名的
    <RoleIcon role="healer|dps" tag="非T" />
    玩家将线拉长一点方便接线，
    <RoleIcon role="tank" tag="MT" />
    <RoleIcon role="tank" tag="ST" />
    前往人群
    <Span variant="pink">接线</Span>
    ， 然后到
    <Boss />
    前方左上和右上分散处理
  </div>
</SolutionSection>
