---
import Span from '@/components/Span.vue'
---

<Span variant="yellow"
  ><Span variant="violet">(</Span>2<Span variant="violet">|</Span>3<Span variant="violet">|</Span>4<Span
    variant="violet">)</Span
  >-snap Twist & Drop the Needle</Span
>
