---
import { cn } from '@/lib/utils'

interface Props {
  class?: string
  [key: string]: any
}
const { class: className, ...props }: Props = Astro.props
---

<span class={cn('font-bold', className)} {...props}>
  <slot />
</span>
