<footer class="absolute bottom-0 w-full border-t py-8">
  <div class="bg-dots fade-t absolute inset-0 opacity-60"></div>
  <div class="relative z-10 mx-auto text-center text-zinc-400">
    © {new Date().getFullYear()} XivStrat · By <a
      href="https://space.bilibili.com/25787773"
      target="_blank"
      class="hover:underline">苏帕酱噗@潮风亭</a
    >
  </div>
</footer>
