---
import type { JobType } from '@/lib/job'

import EntityIcon from '@/components/EntityIcon.astro'

import PLD from '/pixi/job/PLD.png?url'
import WAR from '/pixi/job/WAR.png?url'
import DRK from '/pixi/job/DRK.png?url'
import GNB from '/pixi/job/GNB.png?url'
import WHM from '/pixi/job/WHM.png?url'
import SCH from '/pixi/job/SCH.png?url'
import AST from '/pixi/job/AST.png?url'
import SGE from '/pixi/job/SGE.png?url'
import MNK from '/pixi/job/MNK.png?url'
import DRG from '/pixi/job/DRG.png?url'
import NIN from '/pixi/job/NIN.png?url'
import SAM from '/pixi/job/SAM.png?url'
import RPR from '/pixi/job/RPR.png?url'
import VPR from '/pixi/job/VPR.png?url'
import BRD from '/pixi/job/BRD.png?url'
import MCH from '/pixi/job/MCH.png?url'
import DNC from '/pixi/job/DNC.png?url'
import BLM from '/pixi/job/BLM.png?url'
import SMN from '/pixi/job/SMN.png?url'
import RDM from '/pixi/job/RDM.png?url'
import PCT from '/pixi/job/PCT.png?url'
import TANK from '/pixi/job/TANK.png?url'
import HEALER from '/pixi/job/HEALER.png?url'
import DPS from '/pixi/job/DPS.png?url'
import MELEE from '/pixi/job/MELEE.png?url'
import RANGED from '/pixi/job/RANGED.png?url'
import MAGIC from '/pixi/job/MAGIC.png?url'
import { cn } from '@/lib/utils'

interface Props {
  job: JobType
  tag?: string
  class?: string
}

const { job, tag = '', class: className = '' }: Props = Astro.props
const icon = {
  PLD,
  WAR,
  DRK,
  GNB,
  WHM,
  SCH,
  AST,
  SGE,
  MNK,
  DRG,
  NIN,
  SAM,
  RPR,
  VPR,
  BRD,
  MCH,
  DNC,
  BLM,
  SMN,
  RDM,
  PCT,
  tank: TANK,
  healer: HEALER,
  dps: DPS,
  melee: MELEE,
  ranged: RANGED,
  magic: MAGIC,
}[job]
const text = {
  PLD: '骑士',
  WAR: '战士',
  DRK: '暗骑',
  GNB: '绝枪',
  WHM: '白魔',
  SCH: '学者',
  AST: '占星',
  SGE: '贤者',
  MNK: '武僧',
  DRG: '龙骑',
  NIN: '忍者',
  SAM: '武士',
  RPR: '钐镰',
  VPR: '蝰蛇',
  BRD: '诗人',
  MCH: '机工',
  DNC: '舞者',
  BLM: '黑魔',
  SMN: '召唤',
  RDM: '赤魔',
  PCT: '画家',
  tank: 'T',
  healer: 'H',
  dps: 'D',
  melee: '近战',
  ranged: '远敏',
  magic: '法系',
}[job]
---

<EntityIcon icon={icon} tag={tag} alt={tag ?? job} class={className} data-icon="standard-icon">
  <slot />
</EntityIcon>
<div class={cn(className, 'font-bold')} data-icon="minimal-icon">{text}<slot /></div>
