---
import DarkModeButton from '@/components/DarkModeButton.astro'
import { cn } from '@/lib/utils'
import AccountSVG from '@/svg/account.svg'
import ArtboardSVG from '@/svg/artboard.svg'
import BilibiliSVG from '@/svg/bilibili.svg'
import GitHubSVG from '@/svg/github.svg'

interface Props {
  videoLink?: string
  class?: string
}

const { class: className = '', videoLink = 'https://space.bilibili.com/25787773' }: Props = Astro.props
---

<section class={cn('flex items-center gap-2 px-4', className)}>
  <DarkModeButton />
  <a class="h-5 w-5 text-current/75 hover:text-current" href="https://github.com/mogworks/xivstrat" target="_blank">
    <GitHubSVG />
  </a>
  <a class="h-5 w-5 text-current/75 hover:text-current" href="https://plan.xivstrat.cn" target="_blank">
    <ArtboardSVG />
  </a>
  <a class="h-5 w-5 text-current/75 hover:text-current" href={videoLink} target="_blank">
    <BilibiliSVG />
  </a>
  <a class="h-5 w-5 text-current/75 hover:text-current" href="/account">
    <AccountSVG />
  </a>
</section>
