---
import { cn } from '@/lib/utils'

interface Props {
  class?: string
}

const { class: className = '' }: Props = Astro.props
---

<span class={cn('bg-foreground mr-1.5 h-1.5 w-1.5 rounded-full', className)}></span>
