---
import { cn } from '@/lib/utils'

interface Props {
  orientation?: 'horizontal' | 'vertical'
  class?: string
}

const { orientation = 'horizontal', class: className = '' }: Props = Astro.props
---

<div class={cn('bg-border shrink-0', orientation === 'vertical' ? 'h-full w-px' : 'h-px w-full', className)}></div>
