---
import type { Role } from '../role'

import { Image } from 'astro:assets'

import D1 from '../_assets/D1.png'
import D2 from '../_assets/D2.png'
import D3 from '../_assets/D3.png'
import D4 from '../_assets/D4.png'
import MT from '../_assets/MT.png'
import ST from '../_assets/ST.png'

interface Props {
  role: Role
}

const { role }: Props = Astro.props

const icon = {
  MT,
  ST,
  D1,
  D2,
  D3,
  D4,
}[role]
---

<div class="w-24">
  <Image src={icon} alt={role} />
</div>
