---
import EntityIcon from '@/components/EntityIcon.astro'

import Span from '@/components/Span.vue'

import { translations } from '../_translations'

import bloomingAbominationIcon from '@/assets/07/m7s/entity_icons/blooming_abomination.png'
const bloomingAbomination = translations.bloomingAbomination
---

<EntityIcon icon={bloomingAbominationIcon} alt="BOSS" iconClass="scale-125 drop-shadow-xs drop-shadow-black">
  <Span variant="rose" class="ml-1">{bloomingAbomination}</Span>
</EntityIcon>
