---
import type { Time } from '@/lib/utils'

import DamageInfo from '@/components/DamageInfo.astro'
import Icon from '@/components/Icon.astro'
import RoleIcon from '@/components/RoleIcon.astro'
import Span from '@/components/Span.vue'
import EventSection from '@/components/section/EventSection.astro'

import BruteAbombinator from './BruteAbombinator.astro'

import MagicVulnerabilityUp from '@/components/buff/MagicVulnerabilityUp.astro'
import Badge from '@/components/Badge.astro'
import { translations } from '../_translations'

interface Props {
  time: Time
  base?: Time
}

const { time, base = 0 }: Props = Astro.props
const electrogeneticForce = translations.electrogeneticForce
---

<EventSection time={time} base={base}>
  <BruteAbombinator />
  对
  <RoleIcon role="all" tag="所有人" />
  发动
  <Span variant="yellow">{electrogeneticForce}</Span>
  <DamageInfo damage="125000" type="magical" />
  <MagicVulnerabilityUp tag="2" hover />
  <Badge variant="emerald">6m圆形</Badge>
</EventSection>
