---
import type { Time } from '@/lib/utils'

import Badge from '@/components/Badge.astro'
import EventSection from '@/components/section/EventSection.astro'
import DamageInfo from '@/components/DamageInfo.astro'
import Span from '@/components/Span.vue'
import { translations } from '../_translations'

interface Props {
  time: Time

  num?: Number
}

const { time, num }: Props = Astro.props
const explosion = translations.explosion
---

<EventSection time={time} num={num} ability={explosion}>
  第<Span variant="pink">{num}</Span>颗陨石伤害判定
  <DamageInfo damage="70000~300000" type="magical" />
  <Badge variant="amber">距离衰减</Badge>
  <Badge variant="purple">AoE</Badge>
</EventSection>
