---
import type { Time } from '@/lib/utils'
import CastSection from '../../../../components/section/CastSection.astro'
import Span from '@/components/Span.vue'
import Badge from '@/components/Badge.astro'
import DamageInfo from '@/components/DamageInfo.astro'
import DamageDown from '@/components/buff/DamageDown.astro'

interface Props {
  start: Time
  base?: Time
  duration?: Time
  num?: number
}

const { start, base = 0, duration = 3.7, num = 4 }: Props = Astro.props
---

<CastSection start={start} base={base} duration={duration} ability="Pollen">
  <Span variant="green" slot="source">种子×{num}</Span>
  <DamageInfo damage="120000" type="magical" />
  <DamageDown tag="30" hover />
  <Badge variant="emerald">8m圆形</Badge>
</CastSection>
