---
import RoleIcon from '@/components/RoleIcon.astro'
import Span from '@/components/Span.vue'
import StratInterval from '@/components/StratInterval.astro'
import EventSection from '@/components/section/EventSection.astro'
import type { Time } from '@/lib/utils'
import { translations } from '../_translations'
import BruteAbombinator from './BruteAbombinator.astro'

interface Props {
  start: Time
}

const { start }: Props = Astro.props
const sinisterSeeds = translations.sinisterSeeds
---

<EventSection>
  <StratInterval slot="time" start={start} duration={5.0} />
  <Fragment>
    <BruteAbombinator />
    读条
    <Span variant="yellow">{sinisterSeeds}</Span>
    ，锁定
    <Span variant="default">4</Span>
    <RoleIcon role="any" tag="最远" />
    /
    <RoleIcon role="any" tag="最近" />
    点名追踪脚下黄圈，锁定
    <Span variant="default">4</Span>
    <RoleIcon role="any" tag="最近" />
    /
    <RoleIcon role="any" tag="最远" />
    点名“冰花”
  </Fragment>
</EventSection>
