---
import type { Time } from '@/lib/utils'

import Badge from '@/components/Badge.astro'
import EventSection from '@/components/section/EventSection.astro'
import DamageInfo from '@/components/DamageInfo.astro'
import Skill from '@/components/typography/Skill.astro'

import { translations } from '../_translations'

import P from '@/components/typography/P.astro'

interface Props {
  time: Time
}

const { time }: Props = Astro.props
const slaminator = translations.slaminator
---

<EventSection time={time}>
  <P>
    <Skill name={slaminator} />
    伤害判定，总伤<DamageInfo damage="800000" type="physical" /><Badge variant="red">双T分摊</Badge>
  </P>
</EventSection>
