---
import type { Time } from '@/lib/utils'

import Badge from '@/components/Badge.astro'
import Span from '@/components/Span.vue'
import CastSection from '@/components/section/CastSection.astro'

import BruteAbombinator from './BruteAbombinator.astro'

interface Props {
  start: Time
  base?: Time
}

const { start, base = 0 }: Props = Astro.props
---

<CastSection start={start} base={base} duration={9.7} ability="Special Bombarian Special">
  <BruteAbombinator slot="source" />
  <Span slot="ability" variant="fuchsia">Special Bombarian Special</Span>
  <Badge variant="fuchsia">狂暴</Badge>
</CastSection>
