---
import { type Time } from '@/lib/utils'

import CastSection from '@/components/section/CastSection.astro'

import BruteAbombinator from './BruteAbombinator.astro'
import Span from '@/components/Span.vue'
import EventSection from '@/components/section/EventSection.astro'

import MoveToCenterEvent from './MoveToCenterEvent.astro'
import { translations } from '../_translations'
import RoleIcon from '@/components/RoleIcon.astro'
import Badge from '@/components/Badge.astro'
import ThornsOfDeathDebuff from './ThornsOfDeathDebuff.astro'
import P from '@/components/typography/P.astro'

interface Props {
  start: Time
  end: Time
}

const { start, end }: Props = Astro.props
const moveToCenter = '08:03.560'
const seedFallen = '08:06.542'
const sporeSac = translations.sporeSac
---

<CastSection start={start} duration={2.7} ability={sporeSac}>
  <BruteAbombinator slot="source" />
  <P>，完毕后1s场地出现<Span variant="green">孢子×4</Span>范围提示</P>
</CastSection>
<EventSection time="08:02.492"
  >对虚线<RoleIcon role="any" />施加连线<ThornsOfDeathDebuff hover /><Span variant="orange">9000/3s</Span>
  <Badge variant="orange">DoT</Badge></EventSection
>

<MoveToCenterEvent time={moveToCenter} />
<EventSection time={seedFallen}>
  <Span variant="green">孢子×4</Span>
  落下，判定伤害
  <Badge variant="emerald">8m圆形</Badge>
</EventSection>
