---
import type { Time } from '@/lib/utils'
import CastSection from '@/components/section/CastSection.astro'
import Span from '@/components/Span.vue'

interface Props {
  start: Time
  base?: Time
}

const { start, base = 0}: Props = Astro.props
---

<CastSection start={start} base={base} duration={1.7} ability="Stoneringer">
  掏出一把武器在之后释放
  <Span variant="pink">钢铁/月环</Span>
</CastSection>
