---
import type { Time } from '@/lib/utils'
import type { VariantType } from '@/lib/variant'

import CastSection from '../../../../components/section/CastSection.astro'
import Span from '@/components/Span.vue'
import Badge from '@/components/Badge.astro'
import { translations } from '../_translations'

interface Props {
  time: Time

  duration?: Time
  num: number
}

const { time, num }: Props = Astro.props
const tendrilsofTerror = translations.tendrilsOfTerror
const color: Record<number, VariantType> = {
  1: 'red',
  2: 'orange',
  3: 'blue',
  4: 'purple',
  5: 'red',
}
---

<CastSection start={time} duration={2.7} ability={tendrilsofTerror}>
  <Fragment slot="source">第<Span variant={color[num]}>{num}</Span>轮<Span variant="cyan">冰花</Span></Fragment>
  <Fragment slot="cast">预兆出现，消失后释放</Fragment>
  <Badge variant="emerald">米字形AoE</Badge>
</CastSection>
