---
import { cn } from '@/lib/utils'

interface Props {
  class?: string
  [key: string]: any
}

const { class: className = '', ...rest }: Props = Astro.props
---

<section class={cn('strat-section grid scroll-mt-[calc(5rem+1px)] grid-cols-[16rem_1fr]', className)} {...rest}>
  <slot />
</section>
