---
import { cn } from '@/lib/utils'

interface Props {
  id?: string
  class?: string
  [key: string]: any
}

const { id = undefined, class: className = '', ...rest }: Props = Astro.props
---

{id && <div id={id} class="scroll-mt-[calc(5rem+1px)] h-0 -mb-(--article-row-gap)" />}
<section
  id={id ? id + '_section' : undefined}
  class={cn('strat-section grid grid-cols-[16rem_1fr]', className)}
  {...rest}
>
  <slot />
</section>
