---
import type { VariantType } from '@/lib/variant'

import Separator from '@/components/Separator.astro'
import Span from '@/components/Span.vue'
import ContentSection from '@/components/section/ContentSection.astro'
import { omit } from '@/lib/utils'

interface Props {
  title?: string
  variant?: VariantType
  [key: string]: any
}

const { title = '', variant = 'zinc', ...rest }: Props = Astro.props

const restWithoutId = omit(rest, 'id')
---

<ContentSection class="separator-section" {...restWithoutId}>
  {
    title ? (
      <div class="flex items-center gap-4" id={rest.id}>
        <Separator class="shrink" />
        <Span variant={variant} class="grow text-nowrap">
          {title}
        </Span>
        <Separator class="shrink" />
      </div>
    ) : (
      <div id={rest.id}>
        <Separator />
      </div>
    )
  }
</ContentSection>
