---
import AuthLayout from "@/layouts/AuthLayout.astro";
import Account from "./_components/Account";

export const prerender = false;

const user = Astro.locals.user;
const session = Astro.locals.session;

if (!user?.emailVerified || !session) {
  return Astro.redirect("/login");
}
---

<AuthLayout>
  <main class="mt-16 w-full p-16 max-w-xl z-50">
    <Account
      initialUserInfo={{
        name: user.name,
        email: user.email,
      }}
      client:only="react"
    />
  </main>
</AuthLayout>
