---
import EntityIcon from '@/components/EntityIcon.astro'

import Span from '@/components/Span.vue'

import bloomingAbomination from '@/assets/07/m7s/entity_icons/blooming_abomination.png'

interface Props {
  num: number
}

const { num }: Props = Astro.props
---

<EntityIcon icon={bloomingAbomination} alt="BOSS" iconClass="scale-125 drop-shadow-xs drop-shadow-black">
  <Span variant="rose" class="ml-1">大王花</Span>
  <Span variant="rose">#{num}</Span>
</EntityIcon>
