---
import Badge from '@/components/Badge.astro'
import Span from '@/components/Span.vue'
import type { Time } from '@/lib/utils'
import CastSection from '../../../../components/section/CastSection.astro'
import { translations } from '../_translations'

interface Props {
  time: Time

  duration?: Time
}

const { time }: Props = Astro.props
const tendrilsofTerror = translations.tendrilsOfTerror
---

<CastSection start={time} duration={2.7} ability={tendrilsofTerror}>
  <Fragment slot="source"> <Span variant="cyan">冰花</Span></Fragment>
  <Fragment slot="cast">预兆出现，消失后释放</Fragment>
  <Badge variant="emerald">米字形AoE</Badge>
</CastSection>
