---
import DamageInfo from '@/components/DamageInfo.astro'
import RoleIcon from '@/components/RoleIcon.astro'
import Span from '@/components/Span.vue'
import DamageDown from '@/components/buff/DamageDown.astro'
import HPPenalty from '@/components/buff/HPPenalty.astro'
import VulnerabilityUp from '@/components/buff/VulnerabilityUp.astro'
import ContentSection from '@/components/section/ContentSection.astro'

import Mu from './Mu.astro'
import Yan from './Yan.astro'
import GimmeCat from './GimmeCat.astro'
import FeatherRay from './FeatherRay.astro'

interface Props {
  class?: string
}

const { class: className }: Props = Astro.props
---

<ContentSection class={className}>
  <div class="gap-strat flex items-center">
    由于本阶段小怪事件过多，为保证时间轴简明，后续时间轴仅保留重要事件，以下事件将被略去：
  </div>
  <div class="mt-4 flex flex-col gap-4 border-l-2 border-yellow-500 pl-2">
    <div class="gap-strat flex items-center">
      <Mu />
      每3秒1次对
      <RoleIcon role="tank" />
      的普通攻击
      <DamageInfo damage="9500" type="physical" />
    </div>
    <div class="gap-strat flex items-center">
      <Yan />
      每3秒1次对
      <RoleIcon role="tank" />
      的普通攻击
      <DamageInfo damage="65000" type="physical" />
    </div>
    <div class="gap-strat flex items-center">
      <GimmeCat />
      每14.5秒1次跳向随机玩家读条
      <Span variant="yellow">I Crave Violence</Span>
      <Span variant="pink" class="text-decimal">MP-9900</Span>
      <DamageDown tag="30" hover />
      <Span variant="rose" class="text-decimal">30%↓</Span>
      <HPPenalty tag="30" hover />
      <Span variant="rose" class="text-decimal">70%↓</Span>
    </div>
    <div class="gap-strat flex items-center">
      <FeatherRay />
      每9秒1次对连线玩家读条
      <Span variant="yellow">Water III</Span>
      <DamageInfo damage="45000" type="magical" />
      <VulnerabilityUp tag="8" hover />
      <Span variant="rose" class="text-decimal">3100%↑</Span>
    </div>
  </div>
</ContentSection>
