---
import type { VariantType } from '@/lib/variant'

import EntityIcon from '@/components/EntityIcon.astro'
import EntityText from '@/components/EntityText.astro'
import Span from '@/components/Span.vue'

import icon from '@/assets/07/m6s/entity_icons/feather_ray.png'

interface Props {
  wave?: number
}

const { wave = 0 }: Props = Astro.props
const variant =
  {
    1: 'red',
    2: 'orange',
    3: 'blue',
    4: 'purple',
  }[wave] ?? 'zinc'
---

<EntityIcon icon={icon} iconClass="drop-shadow-xs drop-shadow-black">
  <slot>
    {
      wave !== 0 && (
        <>
          <Span variant={variant as VariantType}>鱼×2</Span>
          <Span variant={variant as VariantType}>#{wave}</Span>
        </>
      )
    }
  </slot>
</EntityIcon>
<EntityText>
  {
    wave !== 0 ? (
      <>
        <Span variant="default">鱼×2</Span>
        <Span variant="default">#{wave}</Span>
      </>
    ) : (
      <Span variant="default">鱼</Span>
    )
  }
  <slot />
</EntityText>
