---
import Badge from '@/components/Badge.astro'
import MagicVulnerabilityUp from '@/components/buff/MagicVulnerabilityUp.astro'
import DamageInfo from '@/components/DamageInfo.astro'
import RoleIcon from '@/components/RoleIcon.astro'
import Span from '@/components/Span.vue'
import CastSection from '@/components/section/CastSection.astro'
import type { Time } from '@/lib/utils'
import { translations } from '../_translations'
import SugarRiot from './SugarRiot.astro'

interface Props {
  start: Time
}

const { start }: Props = Astro.props
const Moussacre = translations.Moussacre
---

<CastSection start={start} duration={4.7} ability={Moussacre} target>
  <SugarRiot slot="source" />
  <Span slot="target" variant="pink">距离最近的4人</Span>
  ，
  <RoleIcon role="tank" />
  <RoleIcon role="melee" />
  受到
  <DamageInfo damage="160000" type="magical" />
  <MagicVulnerabilityUp tag="2" hover />
  <Badge variant="emerald">近引导</Badge>
  <Badge variant="emerald">40°扇形</Badge>
  <Badge variant="yellow">分散</Badge>
</CastSection>
