---
import EntityIcon from '@/components/EntityIcon.astro'
import Span from '@/components/Span.vue'

import boss from '@/assets/07/m6s/entity_icons/boss.png'
---

<EntityIcon icon={boss} alt="BOSS" iconClass="drop-shadow-xs drop-shadow-black" data-icon="standard-icon" />
<Span class="font-bold" variant="default" data-icon="minimal-icon">Sugar Riot</Span>
