---
import type { Time } from '@/lib/utils'

import Span from '@/components/Span.vue'
import EventSection from '@/components/section/EventSection.astro'

import GimmeCat from './GimmeCat.astro'
import { translations } from '../_translations'

interface Props {
  time: Time
  base?: Time
  wave: number
}

const { time, base = 0, wave }: Props = Astro.props
const UnlimitedCraving = translations.UnlimitedCraving
---

<EventSection time={time} base={base}>
  <GimmeCat wave={wave} />
  发动
  <Span variant="yellow">{UnlimitedCraving}</Span>
  偷取LB
</EventSection>
