---
import type { VariantType } from '@/lib/variant'

import EntityIcon from '@/components/EntityIcon.astro'
import Span from '@/components/Span.vue'

import icon from '@/assets/07/m6s/entity_icons/yan.png'

interface Props {
  wave?: number
}

const { wave = 0 }: Props = Astro.props
const variant =
  {
    1: 'red',
    2: 'orange',
    3: 'blue',
    4: 'purple',
  }[wave] ?? 'zinc'
---

<EntityIcon icon={icon} iconClass="drop-shadow-xs drop-shadow-black">
  <slot>
    {
      wave !== 0 && (
        <>
          <Span variant={variant as VariantType}>羊</Span>
          <Span variant={variant as VariantType}>#{wave}</Span>
        </>
      )
    }
  </slot>
</EntityIcon>
