---
import { cn } from '@/lib/utils'

import DarkMoonSVG from '@/svg/dark-moon.svg'
import LightSunSVG from '@/svg/light-sun.svg'

interface Props {
  class?: string
}

const { class: className = '' }: Props = Astro.props
---

<dark-mode-button class={cn('h-5 w-5', className)}>
  <button class="cursor-pointer text-current/75 hover:text-current" aria-label="切换明暗主题" type="button">
    <DarkMoonSVG />
    <LightSunSVG />
  </button>
</dark-mode-button>

<script>
  import { $resolvedTheme, $theme } from '@/stores/theme'

  class DarkModeButton extends HTMLElement {
    connectedCallback() {
      const button = this.querySelector('button')

      button?.addEventListener('click', () => {
        const resolvedTheme = $resolvedTheme.get()
        const newTheme = resolvedTheme === 'dark' ? 'light' : 'dark'
        $theme.set(newTheme)
      })
    }
  }

  customElements.define('dark-mode-button', DarkModeButton)
</script>
