---
import { cn } from '@/lib/utils'

interface Props {
  class?: string
  [key: string]: unknown
}
const { class: className, ...props }: Props = Astro.props
---

<span class={cn('entity-text font-bold', className, 'hidden')} data-icon="minimal-icon" {...props}>
  <slot />
</span>
