---
import Span from '@/components/Span.vue'
import StratLink from '@/components/StratLink.astro'
import MechanicSection from '@/components/section/MechanicSection.astro'
import SolutionSection from '@/components/section/SolutionSection.astro'

import ImgRow from '@/components/typography/ImgRow.astro'
import AttackSection from '../_components/BossAttackSection.astro'
import BruteAbombinator from '../_components/BruteAbombinator.astro'
import BrutishSwingActivate from '../_components/BrutishSwingActivate.astro'
import ExplosionActivate from '../_components/ExplosionActivate.astro'
import ExplosionCast from '../_components/ExplosionCast.astro'
import SmashHereThereCast from '../_components/SmashHereThereCast.astro'
import StoneringerCast from '../_components/StoneringerCast.astro'
import { translations } from '../_translations'

const stoneringer = translations.stoneringer
---

<ExplosionCast time="01:36.275" num={1} />
<AttackSection time="01:37.300" damage="57000" damageType="physical" />
<ExplosionCast time="01:38.818" num={2} />
<AttackSection time="01:40.331" damage="57000" damageType="physical" />
<ExplosionCast time="01:41.314" num={3} />
<AttackSection time="01:43.362" damage="57000" damageType="physical" />
<ExplosionActivate time="01:45.234" num={1} />
<ExplosionActivate time="01:47.815" num={2} />
<ExplosionActivate time="01:50.309" num={3} />
<StoneringerCast start="01:46.61" />
<BrutishSwingActivate time="01:58.147" />
<SmashHereThereCast start="01:54.42" />
<AttackSection time="02:01.355" damage="57000" damageType="physical" />
<MechanicSection>
  <div class="flex flex-col gap-4">
    <div class="paragraph">
      <BruteAbombinator />召唤3颗
      <Span variant="amber">陨石</Span>
      ，依次落地，扩散光效闪烁<Span variant="pink">9</Span>下（<Span variant="pink">9s</Span>）后造成
      <Span variant="rose">距离衰减</Span>
      伤害
    </div>
    <div class="paragraph">陨石刷新模式共两种</div>
    <h4 class="mt-4 text-2xl">
      <Span variant="yellow">陨石刷新模式</Span>
    </h4>
      <ImgRow
        bordered={false}
        imgs={[
          { src: 'imgs/07/m7s/explosion/1.png', alt: '陨石刷新情况1', title: '情况1' },
          { src: 'imgs/07/m7s/explosion/2.png', alt: '陨石刷新情况2', title: '情况2' },
        ]}
      />
  </div>
</MechanicSection>
<SolutionSection>
  <div class="flex flex-col gap-4">
    <div class="paragraph"><Span variant="red">第1颗</Span>陨石出现后，前往其<Span variant="pink">对面</Span>方向</div>
    <div class="paragraph">
      <Span variant="orange">第2颗</Span>陨石出现后，前往<Span variant="blue">第3颗</Span>陨石附近等待
    </div>
    <div class="paragraph">
      <Span variant="red">第1颗</Span>
      陨石爆炸后，<Span variant="pink">远离</Span>
      <Span variant="orange">第2颗</Span>
      陨石并<Span variant="pink">远离</Span>
      <Span variant="blue">第3颗</Span>
      陨石
    </div>
    <div class="paragraph">
      <Span variant="orange">第2颗</Span>陨石爆炸后，<Span variant="pink">远离</Span>
      <Span variant="blue">第3颗</Span>陨石
    </div>
      <ImgRow
        bordered={false}
        imgs={[
          { src: 'imgs/07/m7s/explosion/solution_1.png', alt: '陨石躲避步骤1', title: '步骤1' },
          { src: 'imgs/07/m7s/explosion/solution_2.png', alt: '陨石躲避步骤2', title: '步骤2' },
          { src: 'imgs/07/m7s/explosion/solution_3.png', alt: '陨石躲避步骤3', title: '步骤3' },
        ]}
      />
    <div class="paragraph">
      第三下陨石伤害生效后，躲避<StratLink variant="yellow" href="#stoneringer-smash-here-there"
        >{stoneringer}组合技</StratLink
      >
    </div>
  </div>
</SolutionSection>
