---
import { getEntry } from 'astro:content'

import DutyLayout from '@/layouts/DutyLayout.astro'

import Separator from '@/components/Separator.astro'
import StratAside from '@/components/StratAside.vue'
import StratSettings from '@/components/StratSettings.vue'

interface Props {
  dutyId: string
}

const { dutyId }: Props = Astro.props
const duty = (await getEntry('duties', dutyId))!.data
---

<DutyLayout dutyId={dutyId}>
  <main class="max-w-strat-max min-w-strat-min relative mx-auto mb-20 grid grid-cols-[1fr_16rem] p-4">
    <article class="flex flex-col gap-(--article-row-gap) tracking-wide">
      <slot />
    </article>
    <StratAside currentUrl={Astro.url.pathname} phases={duty.phases} client:idle />
    <Separator orientation="vertical" class="absolute top-4 left-68 h-[calc(100%-2rem)]" />
    <Separator orientation="vertical" class="absolute top-4 right-68 h-[calc(100%-2rem)]" />
    {import.meta.env.DEV && <Separator orientation="vertical" class="absolute top-4 left-272 h-[calc(100%-2rem)]" />}
  </main>
  <StratSettings client:idle />
</DutyLayout>

<script>
  import { subscribeKeys } from 'nanostores'

  import { $stratSettings } from '@/stores/stratSettings'

  subscribeKeys($stratSettings, ['viewMode', 'readMode', 'attackEvent'], (stratSettings) => {
    if (stratSettings.attackEvent === 'only') {
      // 只显示普通攻击
      document.querySelectorAll('section.strat-section:not(.attack-section)').forEach((e) => {
        e.classList.toggle('grid', !e.classList.toggle('hidden', true))
      })
      document.querySelectorAll('section.strat-section.attack-section').forEach((e) => {
        e.classList.toggle('grid', !e.classList.toggle('hidden', false))
      })
    } else {
      // 对于普通攻击
      document.querySelectorAll('section.strat-section.attack-section').forEach((e) => {
        // 若设置为隐藏，则隐藏
        e.classList.toggle('grid', !e.classList.toggle('hidden', stratSettings.attackEvent === 'hide'))
      })
      // 对于非普通攻击和非内容
      document.querySelectorAll('section.strat-section:not(.content-section):not(.attack-section)').forEach((e) => {
        // 若仅保留伤害，则隐藏不含伤害信息的元素，否则都要显示
        e.classList.toggle(
          'grid',
          !e.classList.toggle(
            'hidden',
            stratSettings.viewMode === 'damage' && e.querySelector('.damage-info') === null,
          ),
        )
      })
      // 对于内容
      if (stratSettings.viewMode === 'default') {
        // 正常显示所有信息
        document.querySelectorAll('section.strat-section.content-section').forEach((e) => {
          e.classList.toggle('grid', !e.classList.toggle('hidden', false))
        })
      } else if (stratSettings.viewMode === 'solution') {
        // 保留解法，隐藏机制、说明
        document.querySelectorAll('section.strat-section.content-section').forEach((e) => {
          e.classList.toggle(
            'grid',
            !e.classList.toggle(
              'hidden',
              e.classList.contains('mechanic-section') || e.classList.contains('note-section'),
            ),
          )
        })
      } else {
        // 隐藏内容，如机制、说明、解法、分割线等
        document.querySelectorAll('section.strat-section.content-section').forEach((e) => {
          e.classList.toggle('grid', !e.classList.toggle('hidden', true))
        })
      }
    }
    // 对于阅读模式
    const highlightTextQuery =
      'section.strat-section:not(.separator-section) span:not(.strat-time):not(.damage-info):not(.strat-title)'
    if (stratSettings.readMode === 'minimal') {
      const colorClassReg = /^text-[a-z]+-\d{3}(?:\/\d+)?$/
      const darkColorClassReg = /^dark:text-[a-z]+-\d{3}(?:\/\d+)?$/
      const textShadowReg = /^\[text-shadow.*\]$/
      // 对于高亮词条
      document.querySelectorAll<HTMLElement>(highlightTextQuery).forEach((e) => {
        // 跳过buff等vue组件
        // if (e.closest('astro-island')) {
        //   return
        // }
        if (!e.dataset.originalClass) {
          e.dataset.originalClass = e.className
        }
        e.classList.remove(
          // 移除字体颜色、字体阴影样式
          ...Array.from(e.classList).filter(
            (cls) => colorClassReg.test(cls) || darkColorClassReg.test(cls) || textShadowReg.test(cls),
          ),
        )
        e.classList.add('text-foreground', '[text-shadow:_0_0_1px_var(--color-background)]')
      })
      // 对于角色、目标等图标
      document.querySelectorAll<HTMLElement>('[data-icon="standard-icon"]').forEach((e) => {
        e.classList.remove('inline-flex')
        e.classList.add('hidden')
      })
      document.querySelectorAll<HTMLElement>('[data-icon="minimal-icon"]').forEach((e) => {
        e.classList.add('inline-flex')
        e.classList.remove('hidden')
      })
    } else {
      // 对于高亮词条
      document.querySelectorAll<HTMLElement>(highlightTextQuery).forEach((e) => {
        if (e.dataset.originalClass) {
          e.className = e.dataset.originalClass
          delete e.dataset.originalClass
        }
      })
      // 对于角色、目标等图标
      document.querySelectorAll<HTMLElement>('[data-icon="standard-icon"]').forEach((e) => {
        e.classList.add('inline-flex')
        e.classList.remove('hidden')
      })
      document.querySelectorAll<HTMLElement>('[data-icon="minimal-icon"]').forEach((e) => {
        e.classList.remove('inline-flex')
        e.classList.add('hidden')
      })
    }
  })
</script>
