---
import type { Time } from '@/lib/utils'

import P from '@/components/typography/P.astro'
import MechanicSection from '@/components/section/MechanicSection.astro'
import T from '@/components/typography/T.astro'
import Skill from '@/components/typography/Skill.astro'
import ImgRow from '@/components/typography/ImgRow.astro'

import { translations } from '../_translations'

import TheEndsEmbraceCast from '../_components/TheEndsEmbraceCast.astro'

interface Props {
  start: Time
}

const { start }: Props = Astro.props
---

<TheEndsEmbraceCast start={start} />

<MechanicSection>
  <!-- TheEndsEmbrace -->
  <div class="flex flex-col gap-4" id="the-ends-embrace">
    <T>
      <Skill name={translations.TheEndsEmbrace} />
    </T>
    <P>点名全员小圆分散，判定后在脚下生成触手，触手会锁定最近的人释放直线AoE</P>
    <P>处理方式和<Skill name={translations.FearOfDeath} />一样，每个人将自己的触手引导向场外即可</P>
    <ImgRow
      borderVariant="cyan"
      wrapperClass="max-w-160"
      imgs={[
        {
          src: 'imgs/07/necron/TheEndsEmbrace_1.png',
          alt: '',
          title: '点名全员小圆分散',
        },
      ]}
    />
    <ImgRow
      borderVariant="cyan"
      wrapperClass="max-w-160"
      imgs={[
        {
          src: 'imgs/07/necron/TheEndsEmbrace_2.png',
          alt: '',
          title: '判定后在脚下生成触手，全员向场外引导各自的触手',
        },
      ]}
    />
  </div>
</MechanicSection>
