---
import type { Time } from '@/lib/utils'

import { Image } from 'astro:assets'

import Badge from '@/components/Badge.astro'
import CastSection from '@/components/section/CastSection.astro'
import DamageInfo from '@/components/DamageInfo.astro'
import RoleIcon from '@/components/RoleIcon.astro'
import Span from '@/components/Span.vue'
import MagicVulnerabilityUp from '@/components/buff/MagicVulnerabilityUp.astro'
import MechanicSection from '@/components/section/MechanicSection.astro'
import SolutionSection from '@/components/section/SolutionSection.astro'

import HowlingBlade from '../_components/HowlingBlade.astro'
import GleamingFang from '../_components/GleamingFang.astro'

import terrestrial_rage_img from '@/assets/07/m8s1/Tmp.png'

interface Props {
  start: Time
  base?: Time
}

const { start, base = 0 }: Props = Astro.props
---

<CastSection start={start} base={base} duration={2.7} ability="大地の怒り">
  <HowlingBlade slot="source" />
</CastSection>
<MechanicSection>
  <div class="flex flex-col gap-4">
    <div class="text-2xl">
      <Span variant="yellow">大地の怒り</Span>
    </div>
    <div class="flex gap-4">
      <div class="max-w-90 shrink">
        <Image
          src={terrestrial_rage_img}
          alt="Terrestrial Rage Mechanics"
          class="border-2 border-amber-800/75 dark:border-amber-100"
        />
      </div>
      <div class="shrink-0 grow space-y-4">
        <div class="gap-strat flex items-center">
          随机点名
          <RoleIcon role="tank" />
          <RoleIcon role="healer" />
          TH组4人或
          <RoleIcon role="dps" />
          DPS组4人
          <Span variant="yellow">大岩石</Span>
          <Badge variant="yellow">分散</Badge>
          。
        </div>
        <div class="gap-strat flex items-center">
          其余4人中点名一人
          <Span variant="yellow">大震撃</Span>
          <Badge variant="yellow">分摊</Badge>
          。
        </div>
        <div class="gap-strat flex items-center">
          分散和分摊造成
          <DamageInfo damage="110000" type="magical" />
          <MagicVulnerabilityUp tag="2" hover />
          。
        </div>
        <div class="gap-strat flex items-center"></div>
        <div class="gap-strat flex items-center">后续会再进行一轮点名相反的分散分摊。</div>
        <div class="gap-strat flex items-center"></div>
        <div class="gap-strat flex items-center">
          场上先后出现四个斜向的
          <GleamingFang />
          光牙。
        </div>
        <div class="gap-strat flex items-center">
          短暂延迟后按出现顺序释放
          <Span variant="yellow">突進光牙</Span>
          <Badge variant="yellow">直线AoE</Badge>
          。
        </div>
        <div class="gap-strat flex items-center"></div>
        <div class="gap-strat flex items-center">
          判定顺序：1轮<GleamingFang />光牙 - 分摊分散 - 2轮<GleamingFang />光牙。
        </div>
        <div class="gap-strat flex items-center"></div>
      </div>
    </div>
  </div>
</MechanicSection>
<SolutionSection>
  <div class="flex gap-4">
    <div class="max-w-90 shrink">
      <Image
        src={terrestrial_rage_img}
        alt="Terrestrial Rage Solution"
        class="border-2 border-amber-800/75 dark:border-amber-100"
      />
    </div>
    <div class="shrink-0 grow space-y-4">
      <div class="gap-strat flex items-center">光牙方向一定与标点 13/24 连线平行。</div>
      <div class="gap-strat flex items-center">
        不难发现
        <Span variant="lime">4个正点</Span>
        附近一定有安全点。
      </div>
      <div class="gap-strat flex items-center"></div>
      <div class="gap-strat flex items-center">
        <Span variant="yellow">分摊点名</Span>
        和无点名玩家前往场中附近调整位置；
      </div>
      <div class="gap-strat flex items-center">
        <Span variant="yellow">分散点名</Span>
        按图中所示前往自己的正点并调整位置躲避光牙。
      </div>
      <div class="gap-strat flex items-center">二穿一躲避AoE的同时处理分摊/分散。</div>
    </div>
  </div>
</SolutionSection>
