---
import type { Time } from '@/lib/utils'

import { Image } from 'astro:assets'

import CastSection from '@/components/section/CastSection.astro'
import DamageInfo from '@/components/DamageInfo.astro'
import RoleIcon from '@/components/RoleIcon.astro'
import Span from '@/components/Span.vue'
import MagicVulnerabilityUp from '@/components/buff/MagicVulnerabilityUp.astro'
import MechanicSection from '@/components/section/MechanicSection.astro'
import SolutionSection from '@/components/section/SolutionSection.astro'

import terrestrial_rage_img from '@/assets/07/m8s1/Tmp.png'

interface Props {
  start: Time
  base?: Time
}

const { start, base = 0 }: Props = Astro.props
---

<CastSection start={start} base={base} duration={2.7} ability="大地の怒り"> ，标志一连串机制即将开始。 </CastSection>
<MechanicSection>
  <div class="flex gap-4">
    <div class="max-w-90 shrink">
      <Image
        src={terrestrial_rage_img}
        alt="Terrestrial Rage Mechanics"
        class="border-2 border-amber-800/75 dark:border-amber-100"
      />
    </div>
    <div class="shrink-0 grow space-y-4">
      <div class="gap-strat flex items-center">场上分两次出现斜着的浮游炮，一次两个。按出现顺序先后释放直线攻击。</div>
      <div class="gap-strat flex items-center">
        同时随机点名
        <RoleIcon role="tank" />
        <RoleIcon role="healer" />
        TH组4人或
        <RoleIcon role="dps" />
        DPS组4人
        <Span variant="yellow">分散</Span>
        <DamageInfo damage="110000" type="magical" />
        。
      </div>
      <div class="gap-strat flex items-center">
        其余4人中点名一人
        <Span variant="yellow">分摊</Span>
        <DamageInfo damage="110000" type="magical" />
        。 分散和分摊都会附加短暂的
        <MagicVulnerabilityUp tag="2" hover />
        。
      </div>
      <div class="gap-strat flex items-center">判定顺序为：第一轮浮游炮 - 分散/分摊 - 第二轮浮游炮。</div>
    </div>
  </div>
</MechanicSection>
<SolutionSection>
  <div class="flex gap-4">
    <div class="max-w-90 shrink">
      <Image
        src={terrestrial_rage_img}
        alt="Terrestrial Rage Solution"
        class="border-2 border-amber-800/75 dark:border-amber-100"
      />
    </div>
    <div class="shrink-0 grow space-y-4">
      <div class="gap-strat flex items-center">
        浮游炮固定与 1-3 或 2-4 标点连线平行，不难发现
        <Span variant="lime">4个正点</Span>
        附近一定有安全点。
      </div>
      <div class="gap-strat flex items-center">
        <Span variant="yellow">分摊点名</Span>
        和无点名玩家前往场中附近调整位置；
      </div>
      <div class="gap-strat flex items-center">
        <Span variant="yellow">分散点名</Span>
        按图中所示前往自己的正点并调整位置。
      </div>
      <div class="gap-strat flex items-center">二穿一躲避浮游炮并分摊/分散。</div>
    </div>
  </div>
</SolutionSection>
