---
import MechanicSection from '@/components/section/MechanicSection.astro'
import P from '@/components/typography/P.astro'
import SolutionSection from '@/components/section/SolutionSection.astro'
import Skill from '@/components/typography/Skill.astro'
import T from '@/components/typography/T.astro'

import WealOfStoneCast from '../_components/WealOfStoneCast.astro'

import { translations } from '../_translations'

import XfangCast from '../_components/XfangCast.astro'
---

<WealOfStoneCast start="06:01.965" num={4} />
<XfangCast start="06:03.347" />
<MechanicSection>
  <div class="flex flex-col gap-4">
    <T text={translations.wealOfStone} variant="yellow" />
    <P> TODO </P>
  </div>
</MechanicSection>
<SolutionSection>
  <P>
    先去任意正点边缘躲避
    <Skill name={translations.wealOfStone} />
    ，再正常处理
    <Skill name={translations.stonefang} variant="orange" />
    |
    <Skill name={translations.windfang} variant="green" />
    即可
  </P>
</SolutionSection>
