---
import type { Time } from '@/lib/utils'

import Span from '@/components/Span.vue'
import MechanicSection from '@/components/section/MechanicSection.astro'
import P from '@/components/typography/P.astro'
import SolutionSection from '@/components/section/SolutionSection.astro'
import Skill from '@/components/typography/Skill.astro'
import T from '@/components/typography/T.astro'

import WealOfStoneCast from '../_components/WealOfStoneCast.astro'
import WolfOfStone from '../_components/entities/WolfOfStone.astro'
import HowlingBlade from '../_components/entities/HowlingBlade.astro'

import { translations } from '../_translations'

interface Props {
  start: Time
  base?: Time
}

const { start, base = 0 }: Props = Astro.props
---

<WealOfStoneCast start={start} base={base} />
<MechanicSection>
  <div class="flex flex-col gap-4">
    <T text={translations.wealOfStone} variant="yellow" />
    <P>
      本次
      <Skill name={[translations.revolutionaryReign, translations.eminentReign]} />
      后会紧跟
      <Skill name={translations.wealOfStone} />
      ，由
      <HowlingBlade />
      冲锋终点场边出现的
      <WolfOfStone>
        <Span variant="orange">土狼首×2</Span>
      </WolfOfStone>
      释放：
    </P>
  </div>
</MechanicSection>
<SolutionSection>
  <P>
    先正常处理
    <Skill name={[translations.revolutionaryReign, translations.eminentReign]} />
    ，之后别忘了观察
    <WolfOfStone />
    位置，躲开
    <WolfOfStone />
    正面即可
  </P>
</SolutionSection>
