---
import type { Time } from '@/lib/utils'
import MechanicSection from '@/components/section/MechanicSection.astro'

interface Props {
  base: Time
}
---

<MechanicSection>
  <div class="flex flex-col gap-4">
    <div class="gap-strat flex items-center">
      Boss读条完毕后对全体玩家造成多段伤害。每使用1次伤害增加1段，初始6段，上限8段。
    </div>
    <div class="gap-strat flex items-center">狂暴轴下该机制全程共出现5次。</div>
  </div>
</MechanicSection>
