---
import type { Time } from '@/lib/utils'
import { Image } from 'astro:assets'

import Boss from '@/components/Boss.astro'
import LimitBreak from '@/components/action/LimitBreak.astro'
import MechanicSection from '@/components/section/MechanicSection.astro'
import NoteSection from '@/components/section/NoteSection.astro'
import RoleIcon from '@/components/RoleIcon.astro'
import Span from '@/components/Span.vue'
import SolutionSection from '@/components/section/SolutionSection.astro'

import chn1 from '@/assets/07/m7s/sporesplosion/DemoDM_chn1.png'
import chn2 from '@/assets/07/m7s/sporesplosion/DemoDM_chn2.png'
import flare1 from '@/assets/07/m7s/sporesplosion/AbBlink_flare1.png'
import flare2 from '@/assets/07/m7s/sporesplosion/AbBlink_flare2.png'

import AbominableBlinkCast from '../_components/AbominableBlinkCast.astro'
import DemolitionDeathmatchCast from '../_components/DemolitionDeathmatchCast.astro'
import ThornsOfDeathDebuff from '../_components/ThornsOfDeathDebuff.astro'
import ImgRow from '@/components/typography/ImgRow.astro'

interface Props {
  base?: Time
}

const { base = 0 }: Props = Astro.props
---

<MechanicSection>
  <div class="flex flex-col gap-4">
    <div class="paragraph">
      荆棘墙生成连线，连接
      <RoleIcon role="tank" tag="MT" />
      和两名离墙体最近的
      <RoleIcon role="any" />
    </div>
    <div class="paragraph">
      被连线者
      <RoleIcon role="any" />
      受到的DoT伤害与连线墙的
      <Span variant="pink">距离成正比</Span>
      <ThornsOfDeathDebuff />
      <ThornsOfDeathDebuff level={2} />
      <ThornsOfDeathDebuff level={3} />
      <ThornsOfDeathDebuff level={4} />
    </div>
    <div class="paragraph">
      同时，
      <Boss />
      对任一
      <RoleIcon role="tank" />
      点名
      <Span variant="pink">核爆</Span>
    </div>
  </div>
</MechanicSection>
<SolutionSection title="解法：萨利式">
  <div class="flex flex-col gap-4">
    <div class="paragraph">
      <RoleIcon role="dps" tag="D3" />
      接短边的DoT线， <RoleIcon role="dps" tag="D4" />
      接长边的DoT线
    </div>
    <div class="paragraph">
      被点名核爆的
      <RoleIcon role="tank" />
      尽可能远离人群
    </div>
    <h4 class="mt-4 text-2xl">
      <Span variant="yellow">接线参考</Span>
    </h4>
    <ImgRow
      class="game-img"
      wrapperClass="max-w-150"
      bordered={false}
      imgs={[
        {
          src: chn1,
          alt: '接线情况1',
          class: 'drop-shadow-sm drop-shadow-black',
        },
        {
          src: chn2,
          alt: '接线情况2',
          class: 'drop-shadow-sm drop-shadow-black',
        },
      ]}
    />
    <h4 class="mt-4 text-2xl">
      <Span variant="yellow">核爆参考</Span>
    </h4>
    <ImgRow
      class="game-img"
      wrapperClass="max-w-150"
      bordered={false}
      imgs={[
        {
          src: flare1,
          alt: '核爆情况1',
          class: 'drop-shadow-sm drop-shadow-black',
        },
        {
          src: flare2,
          alt: '核爆情况2',
          class: 'drop-shadow-sm drop-shadow-black',
        },
      ]}
    />
  </div>
</SolutionSection>
<NoteSection>
  <div class="flex flex-col gap-4">
    <div class="paragraph">
      在不需要奶救场的前提下可以考虑在核爆出去的时候使用
      <LimitBreak role="melee" stage={2} />
    </div>
  </div>
</NoteSection>
