---
import MechanicSection from '@/components/section/MechanicSection.astro'

import BruteAbombinator from '../_components/BruteAbombinator.astro'
---

<MechanicSection>
  <div class="flex flex-col gap-4">
    <div class="paragraph">
      <BruteAbombinator />砸碎P2场地地板，全员下落到P3场地
    </div>
  </div>
</MechanicSection>
