---
import type { Time } from '@/lib/utils'

import { Image } from 'astro:assets'

import RoleIcon from '@/components/RoleIcon.astro'
import MechanicSection from '@/components/section/MechanicSection.astro'
import SolutionSection from '@/components/section/SolutionSection.astro'

import BruteAbombinator from '../_components/BruteAbombinator.astro'
import PulpSmashCast from '../_components/PulpSmashCast.astro'
import TheUnpottedActivate from '../_components/TheUnpottedActivate.astro'

import img from '@/assets/07/m7s/Tmp.png'

interface Props {
  base: Time
}

const { base = 0 }: Props = Astro.props
---

<PulpSmashCast start="02:02.23" base={base} />
<TheUnpottedActivate time="02:09.41" />
<MechanicSection>
  <div class="flex flex-col gap-4">
    <div class="gap-strat flex items-center">
      <BruteAbombinator />跳向<RoleIcon role="healer" />释放8人分摊伤害，接钢铁+八方
    </div>
  </div>
</MechanicSection>
<SolutionSection title="解法: 面基">
  <div class="flex flex-col gap-4">
    <div class="gap-strat flex items-center">
      在<BruteAbombinator />跳向奶妈分摊后以<BruteAbombinator />目标圈为基准8方分散
    </div>
    <Image src={img} alt="" class="w-96 border-2 border-fuchsia-400 dark:border-fuchsia-100" />
  </div>
</SolutionSection>
<SolutionSection title="解法: 场基">
  <div class="flex flex-col gap-4">
    <div class="gap-strat flex items-center">在<BruteAbombinator />跳向奶妈分摊后以场地标点为基准8方分散</div>
    <Image src={img} alt="" class="w-96 border-2 border-fuchsia-400 dark:border-fuchsia-100" />
  </div>
</SolutionSection>
