---
import type { Time } from '@/lib/utils'

import MechanicSection from '@/components/section/MechanicSection.astro'
import SolutionSection from '@/components/section/SolutionSection.astro'
import StratBoard from '@/components/StratBoard.astro'
import RoleIcon from '@/components/RoleIcon.astro'
import Span from '@/components/Span.vue'

import StrangeSeedsCast from '../_components/StrangeSeedsCast.astro'
import BruteAbombinator from '../_components/BruteAbombinator.astro'

interface Props {
  start: Time
  base?: Time
}

const { start, base = 0 }: Props = Astro.props
---

<StrangeSeedsCast start={start} base={base} />
<MechanicSection>
  <div class="flex flex-col gap-4">
    <div class="flex gap-4">
      <StratBoard
        width={400}
        height={400}
        key="funky-floor"
        class="max-h-112.5 max-w-112.5 shrink"
        canvasClass="h-full w-full border-2 border-amber-800/75 dark:border-amber-100"
      />
      <div class="shrink-0 grow space-y-4">
        <div class="gap-strat flex-col items-center">
          <div>
            <span class="inline-flex items-center gap-px">
              <RoleIcon role="tank" />
              <RoleIcon role="healer" />组或
              <RoleIcon role="dps" />组 个一人被点名
              <Span variant="yellow"> Strange Seeds </Span>
              <Span variant="yellow">(圆形AOE)</Span>
            </span>
          </div>

          <div class="gap-strat mt-6 flex items-center">
            随后在<Span variant="yellow">圆形AOE</Span>处会释放<Span variant="yellow">8方直线AOE</Span>
          </div>

          <div class="gap-strat mt-6 flex items-center border border-dashed p-4">
            <span class="inline-flex items-center gap-px">
              其间<BruteAbombinator /> 还会读条<Span variant="yellow">StoneringerCast</Span><Span variant="green"
                >延迟</Span
              >到分摊后进行处理
            </span>
          </div>

          <div class="gap-strat mt-6 flex items-center">
            <span class="inline-flex items-center gap-px">
              <RoleIcon role="tank" />
              <RoleIcon role="healer" />组和<RoleIcon role="dps" />组 个被点名一次一共4轮
            </span>
          </div>

          <div class="gap-strat mt-6 flex items-center">
            <span class="inline-flex items-center gap-px">
              第四轮结束后,各点名
              <RoleIcon role="tank" />
              <RoleIcon role="healer" />组和<RoleIcon role="dps" />
              组需要双人处理的分摊机制
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</MechanicSection>

<SolutionSection title="解法：萨利式">
  <div class="flex flex-col gap-4">
    <div class="gap-strat flex items-center">
      <div>
        首先,短边dot线由<RoleIcon role="dps" tag="D3" />负责,长边dot线必定由<RoleIcon role="dps" tag="D4" />负责
      </div>
    </div>
    <!-- 安全区 -->
    <div class="flex flex-row gap-4">
      <div class="flex flex-col items-center gap-2">
        <StratBoard
          width={400}
          height={400}
          key="funky-floor"
          class="max-h-112.5 max-w-112.5 shrink"
          canvasClass="h-full w-full border-2 border-amber-800/75 dark:border-amber-100"
        />
        <div class="gap-strat flex items-center">未被点名时待在安全区内</div>
      </div>
    </div>
    <!-- 1/3 -->
    <div class="flex flex-row gap-4">
      <div class="flex flex-col items-center gap-2">
        <StratBoard
          width={400}
          height={400}
          key="funky-floor"
          class="max-h-112.5 max-w-112.5 shrink"
          canvasClass="h-full w-full border-2 border-amber-800/75 dark:border-amber-100"
        />
        <div class="gap-strat flex items-center">奇数 1/3轮,放角落或中央点</div>
      </div>
      <div class="gap-strat flex-col">
        <div class="gap-strat flex">站位尽量分开,保证被点名时可以直接判断是</div>
        <div class="gap-strat flex">谁被点名</div>
        <div class="gap-strat flex">需要注意中央点位的放置需要相当准确</div>
      </div>
    </div>
    <!-- 2/4 -->
    <div class="flex flex-row gap-4">
      <div class="flex flex-col items-center gap-2">
        <StratBoard
          width={400}
          height={400}
          key="funky-floor"
          class="max-h-112.5 max-w-112.5 shrink"
          canvasClass="h-full w-full border-2 border-amber-800/75 dark:border-amber-100"
        />
        <div class="gap-strat flex items-center">偶数 2/4轮,放标点或标记位</div>
      </div>
    </div>
    <!-- 分摊站位 -->
    <div class="flex flex-row gap-4">
      <div class="flex flex-col items-center gap-2">
        <StratBoard
          width={400}
          height={400}
          key="funky-floor"
          class="max-h-112.5 max-w-112.5 shrink"
          canvasClass="h-full w-full border-2 border-amber-800/75 dark:border-amber-100"
        />
        <div class="gap-strat flex items-center">
          第4轮种子落下后,<RoleIcon role="tank" /><RoleIcon role="healer" />组或<RoleIcon role="dps" />组分摊站位
        </div>
      </div>
    </div>
    <div class="gap-strat flex-col">
      <Span variant="pink">
        <div class="gap-strat flex">注意:</div>
        <div class="gap-strat flex">
          如果<RoleIcon role="dps" tag="D3" />处在左侧半场,则<RoleIcon role="healer" tag="H1" />跑到<RoleIcon
            role="dps"
            tag="D3"
          />位置的距离会变长
        </div>
      </Span>
      <div class="gap-strat flex">
        这里建议,如果在前几轮已经放完<Span variant="yellow"> Strange Seeds </Span>的情况下去
      </div>
      <div class="gap-strat flex"><Span variant="pink">左侧安全位</Span>进行躲避.缩短下次跑去分摊的距离</div>
    </div>
  </div>
</SolutionSection>
