---
import type { Time } from '@/lib/utils'

import CosImage from '@/components/CosImage.astro'

import Boss from '@/components/Boss.astro'
import DamageInfo from '@/components/DamageInfo.astro'
import DotInfo from '@/components/DotInfo.astro'
import RoleIcon from '@/components/RoleIcon.astro'
import Span from '@/components/Span.vue'
import Bleeding from '@/components/buff/Bleeding.astro'
import MagicVulnerabilityUp from '@/components/buff/MagicVulnerabilityUp.astro'
import MechanicSection from '@/components/section/MechanicSection.astro'
import SolutionSection from '@/components/section/SolutionSection.astro'

import DeepCutCast from '../_components/DeepCutCast.astro'

interface Props {
  start: Time
}

const { start }: Props = Astro.props
---

<DeepCutCast start={start} />
<MechanicSection>
  <div class="paragraph">
    点名
    <Span variant="pink">一二仇</Span>
    的
    <Span variant="pink">45°扇形死刑</Span>
    ，对
    <Span variant="blue">防护职业</Span>
    造成
    <DamageInfo damage="300000" type="magical" />
    <MagicVulnerabilityUp tag="2" hover />
    ，附加
    <Bleeding hover tag="15" />
    <DotInfo damage="34000" />
  </div>
</MechanicSection>
<SolutionSection>
  <div class="flex gap-4">
    <div class="max-w-90 shrink">
      <CosImage src="imgs/07/m5s/deep_cut.png" alt="Deep Cut Solution" class="border-2 border-amber-800/75 dark:border-amber-100" />
    </div>
    <div class="shrink-0 grow space-y-4">
      <div class="paragraph">
        <RoleIcon role="tank" tag="MT" />
        在
        <Boss />
        <Span variant="pink">左前</Span>
        引导，
        <RoleIcon role="tank" tag="ST" />
        在
        <Boss />
        <Span variant="pink">右前</Span>
        引导
      </div>
      <div class="paragraph">
        由于首次出现在开场不久，
        <RoleIcon role="tank" tag="ST" />
        注意
        <Span variant="pink">及时建立仇恨</Span>
      </div>
    </div>
  </div>
</SolutionSection>
